<%# views/index.ejs %>
  <% extend('layout') %>

<!-- <h1>Hello <%= title %></h1> -->
<h1></h1>
    <!-- Start Section -->
    <div class="section section-pad section-bg-alt nopb" id="intro">
    <!-- coins wrap -->
     <div class="col-lg-12 col-md-12 col-sm-12" id="coins">
     <div class="coins-wrap"><div class='ad'></div>
      <h2 class="section-title">Electronero Network
      </h2>
        <ul id="coins-list" class="clearfix">
          <li class="etnx-coins-wrap"><a href="https://electronero.org"><img width="24%" height="44%" src="https://electronero.org/images/logo2x.png" ></a> Electronero ETNX</li>
          <li class="coins-wrap"><a href="https://electroneropulse.org"><img width="24%" height="44%" src="https://electroneropulse.org/images/logo-white2x.png" ></a> ElectroneroPulse ETNXP</li>
          <li class="coins-wrap"><a href="https://litenero.org"><img width="24%" height="44%" src="https://litenero.org/images/logo-white2x.png" ></a> Litenero LTNX</li>
          <li class="coins-wrap"><a href="https://goldnero.org"><img width="24%" height="44%" src="https://goldnero.org/images/logo-white2x.png" ></a> Goldnero GLDX</li>
          <li class="xsc-coins-wrap"><a href="https://crystaleum.org"></a><img width="26%" height="46%" src="https://crystaleum.org/assets/images/crystaleum-blockchain-cryptocurrency-crypto-altcoin.png" ></a> Crystaleum CRFI</li>
          <li class="xsc-coins-wrap"><a href="https://electronero.org"></a><img width="60%" height="70%" src="https://electronero.org/assets/images/electronero-smart-chain-interchained-xsc.svg" ></a> Interchained XSC</li>
          </ul>
      </div><!-- @end .coins-wrap -->
    </div><!-- @end #coins -->
    	<div class="gaps size-3x"></div><div class="gaps size-3x d-none d-md-block"></div><!-- .gaps  -->
    <!-- Start Section -->
    <div class="row text-center">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <div class="section-head">
                        <div class="heading-animation">
                            <span class="line-1"></span><span class="line-2"></span>
                            <span class="line-3"></span><span class="line-4"></span>
                            <span class="line-5"></span><span class="line-6"></span>
                            <span class="line-7"></span><span class="line-8"></span>
                            <span class="line-9"></span><span class="line-10"></span>
                        </div>
                        <h2 id="airdrop_swap" class="section-title">CLAIM AIRDROPS
                        </h2>
			<div class="col-lg-5 offset-lg-1">
                            <div class="countdown-box text-center">
                             <div class="token-countdown d-flex align-content-stretch" data-date="2021/10/30"></div> <!-- .col -->
                            </div>
                        </div><!-- .col  -->
                        <p class="lead">Electronero 2.0 main net will follow-up with the following xAsset deployments as XRC-20 tokens on Electronero Smart Chain: xETNX, xETNXP, xLTNX, xGLDX, xCRFI, xXMR, xETN. Various xAssets & XRC-20 tokens will be airdropped to Electronero Network EI-1.0 legacy Cryptonote ETNX, ETNXP, LTNX, GLDX, CRFI holders at various rates. Distributions begin post 10/30/2021 after the launch of Electronero Smart Chain, and the $XSC coin. With Electronero 2.0: Interchained Network on your desktop, laptop, mobile (...or raspberry pi, trust us we've tested it!) you will be prepared to manage claiming Electronero Network legacy "EI-1.0" cryptonote coin transactions, and "EI-2.0" xAssets as XRC-20 tokens such as xETNX, xETNXP, xLTNX, xGLDX, xCRFI, xXMR, xETN, XSC anytime, anywhere. Anyone with a smartphone and an internet connection can send, and recieve Electronero Network coins or tokens, generate XRC-20 tokens, swap BSC/ETH tokens, Cosmo tokens, and/or Cryptonote coins, and sign or verify Electronero smart contracts in a swift mobile experience. </p>
                        </br>
			<h2 class="section-title">CLAIM SWAPS
                        </h2>
			<div class="col-lg-5 offset-lg-1">
                            <div class="countdown-box text-center">
                             <div class="token-countdown d-flex align-content-stretch" data-date="2021/09/09"></div> <!-- .col -->
                            </div>
                        </div><!-- .col  -->
                        <p class="lead">
                        ETNX,ETNXP,LTNX will swap 09/09/2021 to CRFI 3:1 based on USDT value of holdings during 09/09/2021 snapshot. Swap rates calculated by trading averages from dates: March 9, 2021 through June 9, 2021. ETNX: 0.000000015 litoshi LTC, ETNXP: 0.00000020 litoshi LTC, LTNX: 0.000000015 litoshi LTC 
			</br> Webnero members receive 100% rebates after the swap. 100% rebate is based on tether value of holdings during the snapshot 09/09/2021, and will be issued after the swaps are settled and this benefit is exclusive to Webnero members only.
                        </p>
                    </div>
                </div>
            </div> 
    <!-- Start Section -->
    <div class="section section-pad section-bg-alt" id="apps">
        <div class="container">            
            <div class="row text-center">
            <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="section-head">
                        <h2 class="section-title">Interactive
                        </h2>
                        <p class="lead">Electronero 2.0: Interchained brings new access to Ethereum, Binance Smart Chain, and Cryptonote to Electronero ecosystem! New updated Electronero Smart Chain enabled web & mobile wallets! Deploy XRC-20 tokens or smart contracts, send/receive legacy EI-1.0 Cryptonote ETNX ETNXP LTNX GLDX CRFI, Electronero Smart Chain $XSC coin, xAssets xETNX xETNXP xLTNX xGLDX xCRFI, xXMR, xETN or XRC-20 tokens, Binance BEP-20, Ethereum ERC-20 or Cosmos tokens in a unique, efficient, and user-friendly experience. First deployments for Android and iOS are in private alpha stages now. Public beta opens 09/09/2021. <a href="https://t.me/electronero">Join the community</a> </br>
                        Send/Receive Electronero Network verified Cryptonote, or Electronero XRC-20 tokens, Binance-Smart-Chain (BEP-20) or Ethereum (ERC-20) tokens, Send, Add Contacts, Deploy Contracts, Monitor Markets, Control Settings, Added Layers of Security (Now with 2fa powered by Goole Authenticator!</p> 
                        <h2 class="section-title">Interoperable
                        </h2>
			<p class="lead">Create, Test, Deploy Smart Contracts, XRC-20 tokens, or even a DEX. Send/Receive Electronero Network EI-1.0 coins & EI-2.0 tokens, Ethereum (ERC-20) or Binance Smart Chain (BEP-20) tokens. Collect Bounty for invitations. Monitor Balance & Transaction History. Track Electronero Smart Chain contracts. Electronero Smart Chain; A cross-chain public & private decentralized blockchain network. Open-source public network of blockchain ledgers; Combining hard forks of Monero, blockchain shard-forks of ETN, public open Electronero Smart Chain ledgers, and major networks such as BSC/ETH/COSMOS. Cross-chain, atomic swaps powered by Interchained($INTERCHAIN) via <a href="https://www.binance.org/en/smartChain">Binance Smart Chain / BEP-20</a> & <a href="https://ethereum.org">Ethereum ERC-20</a> tokens via <a href="https://github.com/interchained/sidechained">Electronero SideChained</a> protocol, mulit-blockchain AIO bridge. Electronero 2.0: Interchained ecosystem is integrated with legacy Cryptonote <a href="https://electronero.org/">Electronero Network</a>, <a href="https://electroneum.org">Electroneum ETN</a>, <a href="https://getmonero.org">Monero XMR</a>, <a href="https://www.binance.org/">Binance Coin BNB</a>, <a href="https://www.binance.org/en/smartChain">Binance-Smart-Chain BSC / BEP-20</a> tokens, ETH, Ethereum / ERC-20 tokens, Cosmos tokens, and Electronero Smart Chain / XRC-20 tokens via <a href="https://github.com/interchained/sidechained">Electronero SideChained protocol multi-blockchain AIO bridge.  </a></p>
                        <div class='text-center'> 
                        <h2 class="section-title">EI-2.0 Features
                        </h2>
                        <ul>
                            <li><b><i>Smart Contracts & XRC-20 Token Ecosystem;</i></b> Deploy, Stake, Earn, Mine, Trade, Farm, Yield<li>
			    <li><b>GO <i>ELECTRONERO</i></b> PUBLIC via SideChained protocol through Interchained ERC20/BEP20 tokens or EI-2.0 xAsset/XRC-20 on Electronero Smart Chain or $XSC or ETH/BNB/BSC/COSMOS or any Cosmos,ERC-20/BEP-20 token</li>
			    <li><b>GO <i>ELECTRONERO PRIVATE</i></b> via legacy Electronero EI-1.0 and affiliate Cryptonote</li>
                            <li><b><i>Digital Asset Swaps, and Exchange Listings</i></b> on CEX's and DEX's via Electronero Smart Chain, Ethereum, Binanace Smart Chain, Cosmos, and more!</li>
			    <li><b><i>Liquidity Pools</i></b> on <a href="https://pancakeswap.finance/swap">PancakSwap</a> and <a href="https://app.uniswap.org">Uniswap</a></li>
                            <li><b><i>Designed for Mass Adoption</i></b></li>
                            <li><b><i>Webnero 2.0 | User-friendly Web Wallet</i></b></li>
			    <li><b><i>Mobilenero 2.0 | Mobile Web Experience</i></b></li>
                            <li><b><i>Derrivatives & Predictions Exchange</i></b></li>
                        </ul>
                        </div>
                    </div>
                </div><!-- .col  -->
            <div class="col-md-2"></div>
            </div><!-- .row  -->
           
           <!-- Start Section -->
    <div class="section section-pad t-pad section-bg-alt" id="roadmap">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <div class="section-head">
                        <h2 class="section-title">Technical Roadmap
                            <!--<span>RoadMap</span>-->
                        </h2>
                    </div>
                </div>
            </div>

            <div class="row roadmap-list align-items-end">
                <div class="col-lg">
                    <div class="single-roadmap roadmap-sm roadmap-done">
                        <h6>April 2018</h6>
                        <p>Start of the project.</p>
                    </div>
                </div><!-- .col  -->
                    <div class="col-lg">
                    <div class="single-roadmap roadmap-down roadmap-done">
                        <h6>May 2018</h6>
                        <p>Public Testnet launches.</p>
                    </div>
                  </div><!-- .col  -->
                      <div class="col-lg">
                      <div class="single-roadmap roadmap-sm roadmap-lg roadmap-done">
                          <h6>May 2018</h6>
                          <p>Beginning of Bounty Program, Smart Mobile Wallet w/ Contracts development project round 1 funded</p>
                      </div>
                </div><!-- .col  -->
                    <div class="col-lg ">
                    <div class="single-roadmap roadmap-down roadmap-lg roadmap-done">
                        <h6>May 2018</h6>
                        <p>Bulletproof RCT's & Ring Signatures Enabled</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg">
                    <div class="single-roadmap roadmap-up roadmap-lg roadmap-done">
                        <h6>May 2018</h6>
                        <p>Mobile Smart Contracts and Mobile Bounty development started</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg width-0">
                    <div class="single-roadmap roadmap-down roadmap-lg roadmap-done">
                        <h6>June 2018</h6>
                        <p>Main Net launch & Exchange Listing</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg">
                    <div class="single-roadmap roadmap-up roadmap-lg roadmap-done">
                        <h6>July 2018</h6>
                        <p>Cryptonight FAST POW algo implemented on main net</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg ">
                    <div class="single-roadmap roadmap-down roadmap-done">
                        <h6>July 2018</h6>
                        <p>Infrastructure Expansion, Bounty Program upgrade</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg">
                    <div class="single-roadmap roadmap-up roadmap-lg roadmap-done">
                        <h6>August 2019</h6>
                        <p>Electronero Passport, Web & Mobile Wallets, public beta</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg ">
                    <div class="single-roadmap roadmap-down roadmap-done">
                        <h6>September 2020</h6>
                        <p>Crystaleum CRFI announces partnership with Electronero Network. CRFI swap data collection begins.</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg">
                    <div class="single-roadmap roadmap-lg roadmap-done">
                        <h6>March 2021</h6>
                        <p>CRFI swap data collection ends. </br>ETNX rate: 0.000000015 LTC</br>ETNXP rate: 0.00000020 LTC </br>LTNX rate: 0.000000015 LTC</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg ">
                    <div class="single-roadmap roadmap-down">
                        <h6>September 2021</h6>
                        <p>Electronero 2.0: Interchained public main net launch</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg">
                    <div class="single-roadmap roadmap-sm">
                        <h6>October 2021</h6>
                        <p>Governance DAO deployment</p>
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
        </div><!-- .container  -->
    </div>
    
            <!-- Start Section -->
            <div class="row text-center">            
            <div class="col-lg-3 col-md-3 col-md-3"></div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="">
                        <h2 class="section-title">Want to Earn Electronero?
                        </h2>
                        <p>Join Electronero Network Core Development</p>
                        <div class='text-center'> 
                        <ul>
                            <li>Professional Blockchain Developement Network</li>
                            <li>Open Source Collaborative Environment</li>
                            <li>Receive Steady Rewards from Electronero Network Core Development Fund</li>
                        </ul>
                        <ul class="btns">
                            <li><a href="https://t.me/interchained">Message Interchained on Telegram</a></li>
                            <li><a href="https://github.com/electronero/electronero" class="btn btn-sm">Commit to Electronero Project on Github</a></li>
                        </ul>
                        </div>
                    </div>
                </div><!-- .col  -->
            <div class="col-md-3"></div>
            </div><!-- .row  -->
            </br>             
        </div><!-- .container  -->
    </div>
    <!-- Start Section -->


    <!-- Start Section -->
    <div class="section section-bg-alt" id="tokenSale">
        <div class="container">

            <div class="row text-center">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <div class="section-head">
                        <h2 class="section-title">ELECTRONERO GENESIS
                        </h2>
                        <p class="lead">EI-2.0 launches 09/09/2021</p></br>
                        <p class="lead">Public Electronero testnet launched on May 11, 2018 (approximate block height 280,000 of ETN). The Electroneum/Electronero hard fork happened at height 307,000 and was followed by a public release of wallets, mining pools and exchanges listings, electronero community provided with an easy-to-use mobile integration. Getting ready for the upcoming deployment of Electronero 2.0: Interchained, $XSC coin, xAssets xETNX, xETNXP, xLTNX, xGLDX, xCRFI, and 3:1 CRFI swaps. Electroneum owners can claim all Electronero Network assets at various rates.</p> 
                        <p class="lead">As a result of a world wide caucus held between the electronero core team. 19+ members from different parts of the globe were selected as team after participating in volunteer contributions to the Electronero community. The internal reorganization brings with it some discussions and many votes were cast. The votes were split and two parallell, interoperable, interchained networks will be formed simultaneously to be known as: EI-1.0, and EI-2.0. Electronero Legacy Cryptonote will continue, AKA EI-1.0 this blockchain network coverage includes assets such as ETNX, ETNXP, LTNx, GLDX, and CRFI. Electronero 2.0: Interchained is two parts, Electronero Smart Chain which has the $XSC coin which will be the main asset along with all on chain xAssets AKA XRC-20 tokens, and Interchained BEP20/ERC20 tokens for SideChained protocol using multi-chain and side-chain technology with privacy of Cryptonote and Ethereum/Binance tokens. There will be xAssets deployed on Electronero Smart Chain for each Electronero 1.0 asset xETNX, xETNXP, xLTNX, xGLDX, xCRFI and more XRC-20 tokens may be deployed at any time by Electronero Network members. The snapshots will take place estimated September 9, 2021 the date of the final xAssets distributions is expected to be October 30th, 2021. Meanwhile Electronero 1.0 and Electronero 2.0 will operate in parrallel offerring Lighning Fast, Private. and Low-Cost/Low-Energy Cryptonight Fast v1 Proof-Of-Work emissions through EI-1.0 comined with, or exclusive Durability, Speed, and Low-Cost/Low-Energy CloudBakery Proof-of-Stake emissions. Any existing Electronero Network EI-1.0 assets will be transferrable in 1:1 ratio for coins held in Electronero Passport enabled applications or on participating exchange wallets. More details soon followed by an official announcements. <a href="https://t.me/electronero">Stay tuned, connect with us on Telegram!</a></p>
                    </div>
                </div>
            </div>
	    <div class="row align-items-center">
                <div class="col-lg-2 col-sm-2 col-md-2"></div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="text-block">
                        <h4>The Electronero 1.0 Launch</h4>
                        <p class="lead">The original EI-1.0 hard fork from ETN happened at height 307,000 of Electroneum. Electronero 1.0 legacy Cryptonote was forked from Electroneum blockchain, and Monero source code. The block was mined in 2018. The original chain owners abandoned the blockchain, it was attacked and so the community decided to pick it up to build upon it and maintain it. Now after several years of hard work, research and development, there are 5 coins on main net ETNX, ETNXP, LTNX, GLDX,CRFI. Electronero 2.0: Interchained is a combination of legacy Electronero Cryptonote blockchains, with modern Electronero Smart Chain $XSC blockchains, and a cross-chain bridge between major blockchains such as Ethereum, and Binance-Smart-Chain, and more integrations to come such as Polygon, Tron, and more.  Electronero 2.0: Interchained is here. When block 307,000 was mined way back in 2018 at that time all Electroneum owners became defacto Electronero Network owners. Claim your stakes in the many hard forks of Electronero Network coins and token from your Electroneum. No purchase necessary to claim your shards of Electronero Network swaps like $CRFI, and Electronero Network Hard Forks ranging from Electronero $ETNX, Electronero Pulse $ETNXP, to Litenero $LTNX, Goldnero $GLDX, Crystaleum $CRFI, Interchained, and Electronero Smart Chain $XSC, as well as EI-2.0 xAssets and XRC-20 token swaps like xETNX, xETNXP, xLTNX, xGLDX, xCRFI, and more! Much much more to come...  <a href='https://t.me/etnxnews'>Stay connected to Electronero Network</a></p>
                        </br>
			<div class="text-center">
			    <h2>Introducing Electronero 2.0: Interchained</h2>
			    <p class="lead"> Electronero Smart Chain $XSC "EI-2.0" deploys main net operations 09/09/2021; A state of the art public & private Interchained network. Thrive with Electronero 2.0: Interchained! Reinventing decentralized cryptocurrency by combining the privacy features of CryptoNote coins, with the integrity and technology of public chains such as Binance Smart Chain ($BSC), Bitcoin ($BTC), Ethereum ($ETH), Interchained ($INTERCHAIN) and Electronero Smart Chain ($XSC).  Electronero Network Project is a 100% open source, and community driven project. <a href="https://t.me/electronero">Join the Community</a></p>
			</div>
			</br>
			<h2>Public & Private Multi-Chain Solutions</h2>
			<p class="lead">While existing blockchain networks offer singular solutions, Electronero core development team has built an interoperable, lightning-fast, network of blockchains capable of processing transactions on Electronero 1.0, Electronero 2.0, Ethereum, Binanace Smart Chain, Cosmos, and more. Electronero 2.0: Interchained a lightning-fast, private/pubic, secure, &amp; easy-to-use Interchained cryptocurrency network. Electronero 2.0: Interchained includes Staking, DEX's, Yield Farming, cross-chain swaps built-with Binance-Smart-Chain, Ethereum, Cryptonote via Electronero Smart Chain ($XSC)! Easy to use cryptocurrency with web/mobile payments integrations, web/mobile experiences. Electronero 2.0: Interchained also brings about new coins/tokens for Electronero Network to claim, such as Electronero Smart Chain $XSC coin ecosystem, Interchained AI $INTERCHAIN BEP-20/ERC-20 tokens. Electronero 2.0: Interchained ecosystem is built with the user in mind to help Electronero developers create light-weight, portable, lightning-fast, and secure blockchains to further Electronero core development team's blockchain research program. Electronero 2.0 Interchained features a DAO with a governance system, and community arbitration network. Electronero 2.0 Interchained also features smart contracts, and framework for DEX's and limitless on-chain storage. </p>
                        </br>
			<h2>Light-Weight, Energy Efficient & Portable</h2>
			<p class="lead">Electronero 2.0: Interchained strives to be truly energy efficient, and light weight with a full-featured enterprise level public and private blockchain ecosystem, lightning-fast sync optimization, ASIC resistant, dual consensus algorithms featuring Proof of Work & Proof of Stake. Electronero 2.0: Interchained features Interchained AI; parallell, interoperable multi-chain Oracle monitoring network stability, health, and Interchained AI has the ability to process trades, and alter liquidity on exchanges. Interchained AI also monitors all on-chain, and off-chain digital asset, synthetic asset, cryptocyrrency swap rates and transactions are also processed through Interchained AI. Where Electronero 1.0 transactions were linked exclusively to each designated Electronero Cryptonote blockchain, for example ETNXP or ETNX, Electronero 2.0: Interchained offers Electronero Network and the world the ability to transact cross-chain without borders! Let's say for example transact cross-chain from BTC/ETH/BNB or any ERC-20/BEP-20 token to Electronero Smart Chain $XSC, and from $XSC to any Electronero Network coin/token xETNX, xETNXP, xLTNX, xGLDX, xCRFI or more. Or pehaps another example transaction on Electronero 2.0 Interchained would be to send $XSC or any Electronero Network token on Electronero Smart Chain to ETNX on Cryptonote for privacy-enabled transfers using ring signatures and Bulletproof RCT's, another Electronero 2.0 Interchained transaction example would be from xETNX on Electronero Smart Chain to $XSC on Binance Smart Chain.     </p>
                    </div>
                <div class="col-lg-2 col-md-2 col-sm-2"></div>
                </div><!-- .col  -->
            </div><!-- .row  -->
            <div class="row text-center align-items-center">
                <div class="col-md-12">
                    <div class="single-chart res-m-btm">
                    <h2 class="section-title">Electronero Network </br>
                            <span>Legacy Cryptonote</span>
                        </h2>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2"></div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <a href='https://crystaleum.org'><img width="50%" height="50%" src="https://crystaleum.org/assets/images/crystaleum-blockchain-cryptocurrency-crypto-altcoin.png" alt="chart"></a>
                    <br>                    
                    <p>
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="2">Crystaleum</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Max Supply:</td>
                                    <td>101,101.000000000000 CRFI</td>
                                </tr>
                                <tr>
                                    <td>Soft-Cap:</td>
                                    <td>1,000.000000000000 CRFI</td>
                                </tr>
                                <tr>
                                    <td>Hard-Cap:</td>
                                    <td>101,101.000000000000 CRFI</td>
                                </tr>
                                <tr>
                                    <td>Circulations:</td>
                                    <td>< 1.000000000000 CRFI</td>
                                </tr>
                                <tr>
                                    <td>Block Height:</td>
                                    <td><i>~1,870,000</i><br>
                                        <u>Expected Genesis date: 09/09/2021</u><br>                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>Official Links:</td>
                                    <td>
                                        <a href="https://crystaleum.org">Crystaleum.org</a><br>
                                        <a href="https://id.crystaleum.org">Crystal ID</a><br>
                                        <a href="https://t.me/crystaleum">Telegram @Crystaleum</a><br>
                                        <a href="https://twitter.com/crystaleum">Twitter @Crystaleum</a><br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Swap:</td>
                                    <td>Pairs: ETN, XMR, BNB, BTC, LTC, USDT, ETNX, ETNXP, GLDX, CRFI<br>
                                        3:1 CRFI from 1 <br>ETNX, ETNXP, LTNX<br>
                                        <a href="https://webnero.electronero.org/claim"> <b>Swap via SideChained</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Claim:</td>
                                    <td>Owners: Electroneum ETN, Electronero Network ETNX, ETNXP, LTNX<br>
                                        Shares: 0.000000384616 CRFI <br>from 1 ETN <br>
                                        3:1 $CRFI on Crystaleum from ETNX, ETNXP, LTNX <br>
                                        <a href="https://id.crystaleum.org/claim"> <b>Claim via Electronero Passport Protocol</b></a></td>
                                </tr>
                                <tr>                                    
                                    <td>Learn More:</td>
                                    <td><div class="text-center">
                                        Claim From ETN, ETNX, ETNXP, LTNX<br>
                                        <a href="https://www.buymeacoffee.com/interchained/upcoming-swap-3-1-crfi-distribution-electronero-network">Learn more</a>
                                    </div></td>
                                </tr>
                            </tbody>
                        </table>
                    </p>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2"></div>
                    </br>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <a href='https://litenero.org'><img width="50%" height="50%" src="https://litenero.org/images/logo-white2x.png" alt="chart"></a>
                        <br>                    
                        <p>
                            <table>
                                <thead>
                                    <tr>
                                        <th colspan="2">Litenero</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Max Supply:</td>
                                        <td>Unlimited</td>
                                    </tr>
                                    <tr>
                                        <td>Soft-Cap:</td>
                                        <td>100,000,000.000000 LTNX</td>
                                    </tr>
                                    <tr>
                                        <td>Hard-Cap:</td>
                                        <td>100,000,000.000000 LTNX</td>
                                    </tr>
                                    <tr>
                                        <td>Circulations:</td>
                                        <td>~10,000,000.000000 LTNX</td>
                                    </tr>
                                    <tr>
                                        <td>Block Height:</td>
                                        <td>750,000 | <a href="https://blockexplorer.litenero.org/search?value=750000"><i>View on LiteneroScan Block Explorer</i></a><br>
                                            <u>Genesis: 05/05/2019;</u><br>                                        
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Official Links:</td>
                                        <td>
                                            <a href="https://litenero.org">Litenero.org</a><br>
                                            <a href="https://webnero.electronero.org">Webnero</a><br>
                                            <a href="https://t.me/litenero">Telegram: Litenero Board Room @litenero</a><br>
                                            <a href="https://twitter.com/crystaleum">Twitter @_electronero</a><br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Swap:</td>
                                        <td>Pairs: ETN, XMR, BNB, BTC, LTC, USDT, ETNX, ETNXP, GLDX, CRFI<br>
                                            Variable swap rates from EI-1.0 legacy cryptonote ETNX to EI-2.0 xAssets <br>xETNX, xETNXP, xLTNX, xGLDX, xCRFI<br> as XRC-20 tokens on Electronero Smart Chain<br>
                                            <a href="https://webnero.electronero.org/swap"> <b>Swap via SideChained</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Claim:</td>
                                        <td>Owners: Electroneum ETN, Electronero Network ETNX, ETNXP<br>
                                            Shares: 0.1 LTNX from 1 ETN | 1 LTNX from 1 ETNX before block 500,000 <br>
                                            Link: <a href="https://webnero.electronero.org/claim"> <b>Claim via Electronero Passport Protocol</b></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Learn More:</td>
                                        <td><div class="text-center">
                                            Claim ETNX from ETN or Buy at Exchanges<b></b>
                                            Link: <a href="https://www.buymeacoffee.com/interchained/electronero-2-0-interchained-electronero-smart-chain">Learn more</a>
                                        </div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </p> 
                    </p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <a href='https://goldnero.org'><img width="50%" height="50%" src="https://goldnero.org/images/logo-white2x.png" alt="chart"></a>
                        <br>                    
                        <p>
                            <table>
                                <thead>
                                    <tr>
                                        <th colspan="2">Litenero</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Max Supply:</td>
                                        <td>Unlimited</td>
                                    </tr>
                                    <tr>
                                        <td>Soft-Cap:</td>
                                        <td>18,000,000.000000 LTNX</td>
                                    </tr>
                                    <tr>
                                        <td>Hard-Cap:</td>
                                        <td>18,000,000.000000 LTNX</td>
                                    </tr>
                                    <tr>
                                        <td>Circulations:</td>
                                        <td>~1,500,000.000000 LTNX</td>
                                    </tr>
                                    <tr>
                                        <td>Block Height:</td>
                                        <td>775,000 | <a href="https://blockexplorer.goldnero.org/search?value=775000"><i>View on GoldneroScan Block Explorer</i></a><br>
                                            <u>Genesis: 05/30/2019;</u><br>                                        
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Official Links:</td>
                                        <td>
                                            <a href="https://goldnero.org">Goldnero.org</a><br>
                                            <a href="https://webnero.electronero.org">Webnero</a><br>
                                            <a href="https://t.me/goldnero">Telegram: Goldnero Board Room @goldnero</a><br>
                                            <a href="https://twitter.com/_electronero">Twitter @_electronero</a><br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Swap:</td>
                                        <td>Pairs: ETN, XMR, BNB, BTC, LTC, USDT, ETNX, ETNXP, GLDX, CRFI<br>
                                            Variable swap rates from EI-1.0 legacy cryptonote ETNX to EI-2.0 xAssets <br>xETNX, xETNXP, xLTNX, xGLDX, xCRFI<br> as XRC-20 tokens on Electronero Smart Chain<br>
                                            <a href="https://webnero.electronero.org/swap"> <b>Swap via SideChained</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Claim:</td>
                                        <td>Owners: Electroneum ETN, Electronero Network ETNX, ETNXP<br>
                                            Shares: 0.01 GLDX from 1 ETN | 0.1 GLDX from 1 ETNX, ETNXP, LTNX <br>
                                            Link: <a href="https://webnero.electronero.org/claim"> <b>Claim via Electronero Passport Protocol</b></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Learn More:</td>
                                        <td><div class="text-center">
                                            Claim LTNX from ETN & ETNX, or Trade at Exchanges<b></b>
                                            Link: <a href="https://www.buymeacoffee.com/interchained/electronero-2-0-interchained-electronero-smart-chain">Learn more</a>
                                        </div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </p> 
                    </div>
                    <br>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <a href='https://electronero.org'><img width="50%" height="50%" src="/images/nero-logo.png" alt="chart"></a>
                        <br>                    
                        <p>
                            <table>
                                <thead>
                                    <tr>
                                        <th colspan="2">Electronero</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Max Supply:</td>
                                        <td>Unlimited</td>
                                    </tr>
                                    <tr>
                                        <td>Soft-Cap:</td>
                                        <td>100,000,000,000.000000 ETNXP</td>
                                    </tr>
                                    <tr>
                                        <td>Hard-Cap:</td>
                                        <td>33,333,333,333.333333333 ETNX</td>
                                    </tr>
                                    <tr>
                                        <td>Circulations:</td>
                                        <td>~33,333,333,333.333333333 ETNX</td>
                                    </tr>
                                    <tr>
                                        <td>Block Height:</td>
                                        <td>307,000 | <a href="https://blockexplorer.electronero.org/search?value=307000"><i>View on ElectroneroScan Block Explorer</i></a><br>
                                            <u>Genesis: 05/30/2018</u><br>                                        
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Official Links:</td>
                                        <td>
                                            <a href="https://electronero.org">Electronero.org</a><br>
                                            <a href="https://webnero.electronero.org">Webnero</a><br>
                                            <a href="https://t.me/electronero">Telegram: Electronero Board Room @electronero</a><br>
                                            <a href="https://t.me/electronero_network">Telegram: Electronero Network @electronero</a><br>
                                            <a href="https://twitter.com/crystaleum">Twitter @_electronero</a><br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Swap:</td>
                                        <td>Pairs: ETN, XMR, BNB, BTC, LTC, USDT, ETNX, ETNXP, LTNX, GLDX, CRFI<br>
                                            Variable swap rates from EI-1.0 legacy cryptonote ETNX to EI-2.0 xAssets <br>xETNX, xETNXP, xLTNX, xGLDX, xCRFI<br> as XRC-20 tokens on Electronero Smart Chain<br>
                                            <a href="https://webnero.electronero.org/swap"> <b>Swap via SideChained</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Claim:</td>
                                        <td>Owners: Electroneum ETN, Electronero Network ETNX, ETNXP, LTNX, GLDX, CRFI<br>
                                            Shares: 1 ETNX from 1 ETN <br>
                                            Link: <a href="https://webnero.electronero.org/claim"> <b>Claim via Electronero Passport Protocol</b></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Learn More:</td>
                                        <td><div class="text-center">
                                            Claim ETNX from ETN or Buy at Exchanges<b></b>
                                            Link: <a href="https://www.buymeacoffee.com/interchained/electronero-2-0-interchained-electronero-smart-chain">Learn more</a>
                                        </div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <a href='https://electroneropulse.org'><img width="50%" height="50%" src="https://electroneropulse.org/images/logo-white2x.png" alt="chart"></a>
                        <br>                    
                        <p>
                            <table>
                                <thead>
                                    <tr>
                                        <th colspan="2">Electronero Pulse</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Max Supply:</td>
                                        <td>Unlimited</td>
                                    </tr>
                                    <tr>
                                        <td>Soft-Cap:</td>
                                        <td>100,000,000,000.000000 ETNXP</td>
                                    </tr>
                                    <tr>
                                        <td>Hard-Cap:</td>
                                        <td>~1,500,000,000,000.000000 ETNXP</td>
                                    </tr>
                                    <tr>
                                        <td>Circulations:</td>
                                        <td>~120,000,000,000.000000 ETNXP</td>
                                    </tr>
                                    <tr>
                                        <td>Block Height:</td>
                                        <td>500,000 | <a href="https://blockexplorer.electroneropulse.org/search?value=500000"><i>View on PulseScan Block Explorer</i></a><br>
                                            <u>Genesis: 09/30/2018</u><br>                                        
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Official Links:</td>
                                        <td>
                                            <a href="https://electroneropulse.org">ElectroneroPulse.org</a><br>
                                            <a href="https://webnero.electronero.org">Webnero</a><br>
                                            <a href="https://t.me/etnxp">Telegram: @etnxp</a><br>
                                            <a href="https://twitter.com/_electronero">Twitter @_electronero</a><br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Swap:</td>
                                        <td>Pairs: ETN, XMR, BNB, BTC, LTC, USDT, ETNX, ETNXP, LTNX, GLDX, CRFI<br>
                                            Variable swap rates for EI-1.0 legacy cryptonote ETNX to EI-2.0 xAssets <br>xETNX, xETNXP, xLTNX, xGLDX, xCRFI<br> as XRC-20 tokens on Electronero Smart Chain<br>
                                            Link: <a href="https://webnero.electronero.org/swap"> <b>Swap via SideChained</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Claim:</td>
                                        <td>Owners: ETN, ETNX<br>
                                            Shares: 0.5 ETNXP from 1 ETN <br>
                                            Link: <a href="https://webnero.electronero.org/claim"> <b>Claim via Electronero Passport Protocol</b></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Learn More:</td>
                                        <td><div class="text-center">
                                            Claim ETNXP From ETN or Buy at Exchanges<b></b>
                                            Link: <a href="https://electroneropulse.org">Learn more</a>
                                        </div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </p>                   
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <a href='https://electronero.org'><img width="50%" height="50%" src="https://electronero.org/assets/images/electronero-smart-chain-interchained-xsc.svg" alt="chart"></a>                   
                        <br>                    
                        <p>
                            <table>
                                <thead>
                                    <tr>
                                        <th colspan="2">Electronero 2.0: Interchained XSC & Electronero Smart Chain</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Coin:</td>
                                        <td>"Interchained" $XSC coin deployed as XRC-20 token to <a href="https://ethereum.org"></a>Electronero Smart Chain</a> pegged to a basked of interoperable, interswap-able, intergalactic, and down-right fantastic set of smart contracts and tokens deployed on several networks for mass adoption, ease-of-use, and increased audience. "Interchained" XSC is a multi-chain deployed as ERC-20 token deployed to Electronero Smart Chain as XRC-20 token, as well as <a href="https://ethereum.org">Ethereum</a>, BEP-2 to Binance Chain, BEP-20 to Binance Smart Chain. More deployments such as Cosmos, Polygon, Tron and others are in development. </td>
                                    </tr> 
                                    <tr>
                                        <td>XRC-20 Token Ecosystem:</td>
                                        <td>"Electronero xAssets" as XRC-20 tokens: xETNX, xETNXP, xLTNX, xGLDX, xCRFIx, xETN, xXMR, xUSDT  </td>
                                    </tr>
                                    <tr>
                                        <td>Claim 1:1 xAssets:</td>
                                        <td>ETNX, ETNXP, LTNX, GLDX, CRFI, ETN, XMR, USDT</td>
                                    </tr>
                                    <tr>
                                        <td>Storage:</td>
                                        <td>
                                            Wallet: Participate <a href="https://webnero.electronero.org">via Webnero</a><br>
                                            Deposit Status: ONLINE<br>
                                            Withdrawal Status: ONLINE<br>
                                            Supporting coins: ETNX, ETNXP, LTNX, GLDX, CRFI, ETN, XMR, ETH, ERC-20, BNB, BEP-20<br></td>
                                    </tr>
                                    <tr>
                                        <td>Block Height:</td>
                                        <td>~2,000,000<br>
                                            <u>Expected Genesis: 10/30/2021</u><br>                                        
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Links:</td>
                                        <td>
                                            <a href="https://electronero.org">Electronero.org</a><br>
                                            <a href="https://electroneropulse.org">ElectroneroPulse.org</a><br>
                                            <a href="https://litenero.org">Litenero.org</a><br>
                                            <a href="https://goldnero.org">Goldnero.org</a><br>
                                            <a href="https://crystaleum.org">Crystaleum.org</a><br>
                                            <a href="https://getmonero.org">GetMonero.org</a><br>
                                            <a href="https://electroneum.org">Electroneum.org</a><br>
                                            <a href="https://tether.to">Tether.to</a><br>
                                            <a href="https://webnero.electronero.org">Webnero</a><br>
                                            <a href="https://t.me/electronero">Telegram: @electronero</a><br>
                                            <a href="https://t.me/electronero_network">Telegram: @electronero_network</a><br>
                                            <a href="https://t.me/etnxp">Telegram: @etnxp</a><br>
                                            <a href="https://t.me/litenero">Telegram: @litenero</a><br>
                                            <a href="https://t.me/goldnero">Telegram: @goldnero</a><br>
                                            <a href="https://t.me/crystaleum">Telegram: @crystaleum</a><br>
                                            <a href="https://t.me/electroneum">Telegram: @electroneum</a><br>
                                            <a href="https://t.me/monero">Telegram: @monero</a><br>
                                            <a href="https://twitter.com/_electronero">Twitter @_electronero</a><br>
                                            <a href="https://twitter.com/etnxp">Twitter @etnxp</a><br>
                                            <a href="https://twitter.com/crystaleum">Twitter @crystaleum</a><br>
                                            <a href="https://twitter.com/electroneum">Twitter @electroneum</a><br>
                                            <a href="https://twitter.com/monero">Twitter @monero</a><br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Swap:</td>
                                        <td>Pairs: ETN, XMR, BNB,ETNX, ETNXP, LTNX, GLDX, CRFI<br>
                                            xAssets are deployed as XRC-20 tokens on <br>Electronero Smart Chain <br>
                                            Variable swap rates for ETH/ERC-20 tokens, BNB/BEP-2/BEP-20 tokens, BTC, LTC, and all EI-1.0 legacy Electronero Network coins, affiliate Cryptonote coins, and various EI-2.0 xAssets <br>xETNX, xETNXP, xLTNX, xGLDX, xCRFI, xETN, xXMR, xUSDT<br> as XRC-20 tokens on Electronero Smart Chain <br>
                                            <a href="https://webnero.electronero.org/swap"> <b>Swap via SideChained</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Claim:</td>
                                        <td>Owners: ETN, XMR, ETH/ERC-20, BNB/BEP-20, ETNX, ETNXP, LTNX, GLDX, CRFI<br>
                                            1 $XSC XRC-20/ERC-20/BEP-20<br>
                                            1:1 xAssets on Electronero Smart Chain <br>
                                            <a href="https://webnero.electronero.org/claim"> <b>Claim via Electronero Passport Protocol</b></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Learn More:</td>
                                        <td><b>Electronero 2.0 deploys 09/09/2021 Jump in now! Don't miss out! Get the lowest rates now!</b><br><p>Buy ETNX & ETNXP now and you'll get maximum benefit as we deploy Electronero 2.0 xAssets. EI-1.0 holders get to keep EI-1.0 coins, and claim shares of XSC on various networks as well as claim EI-2.0 xAssets such as xETNX & xETNXP, xLTNX, xGLDX, xCRFI, xXMR, xETN and more XRC-20 tokens deployed on Electronero Smart Chain! xAssets start out paired to XSC, BNB, ETH and various coins/tokens through ElectroneroDEX, and CEX listings.
                                            <br>
                                            Claim your EI-2.0 xETNX, xETNXP on Electronero Smart Chain, and claim XSC on several networks through Webnero from ETNX, ETNXP on EI-1.0. Keep both. It's that simple. Don't miss this chance of a lifetime!
                                            <br>
                                            What else can we do on Electronero 2.0?
                                            <br>
                                            Vote on proposals through ElectroneroDAO
                                            <br>
                                            Swap from $BSC or BEP20 tokens on Binance Smart Chain to $ETH or ERC20 tokens on Ethereum through interoperable, simultaneous, parallel INTERCHAINED $XSC tokens via SideChained AIO Bridge!
                                            <br>
                                            Electronero 2.0 main net operations open to the public 09/09/2021
                                            </p><br>
                                            <div class="text-center">
                                                <a href="https://webnero.electronero.org/swap">Claim & Swap via SideChained</a>, or Trade at ElectroneroDEX or CEX Exchanges<b></b><br>
                                                <a href="https://www.buymeacoffee.com/interchained/electronero-2-0-interchained-electronero-smart-chain">Learn more</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </p>
                    </br>
                    </div>
                    </br>
                </div>
                        
                
            </div><!-- .row  -->
            <div class="row align-items-center">
            </br>
                <div class="col-lg-12 res-m-bttm">
                </br>
                    <div class="row event-info">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4">
                            <div class="event-single-info">
                                <h6>Electronero Network legacy Cryptonote Hard Forks</h6>
                                <p>->) Electronero $ETNX (main net Q1 2018)</p>
                                <p>->) Electronero Pulse $ETNXP (main net Q4 2018)</p>
                                <p>->) Litenero $LTNX (main net Q2 2019)</p>
                                <p>->) Goldnero $GLDX (main net Q2 2019)</p>
                                <p>->) Crystaleum $CRFI (main net Q3 2020)</p>
                                <p>->) Crypto Bookers $BOOK (main net Q3 2021)</p>
                                <p>->) GamExchange $GAME (main net Q3 2021)</p>
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-4">
                            <div class="event-single-info">
                                <h6>Max Supplys (to be updated)</h6>
                                <p>~36,000,000,000.00000000 $ETNX (8 decimals)</p>
                                <p>~1,500,000,000,000.000000 $ETNXP (6 decimals)</p>
                                <p>~210,000,000.00000000 $LTNX (8 decimals)</p>
                                <p>~18,500,000.000000000000 $GLDX (12 decimals)</p>
                                <p>~101,101.000000000000 $CRFI (12 decimals)</p>
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-2"></div>
                        </div> <!-- row -->
                        <div class="row event-info">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4">                            
                            <div class="event-single-info">
                                <h6>Electronero 2.0 Rewards</h6>
                                <p>Dual PoW/PoS Emissions</p>
                                <p>PoS Staking, and PoW Mining</p>
                                <p>Yield Farming, Staking/p>
                                <p>Electronero EI-1.0 assets, EI-2.0 xAssets & XRC-20, Binance-Smart-Chain BEP-20 & Ethereum ERC-20 Liquidity Pools</p>
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-4">
                            <div class="event-single-info">
                                <h6>Exchange Listing</h6>
                                <p><a href="https://tradeogre.com/">TradeOgre.com</a>
                                </p>
                                <p>
                                <a href="https://Finexbox.com/">Finexbox.com</a> 
                                </p>
                                <p>
                                <a href="https://bitexlive.com/">Bitexlive.com</a> 
                                </p>
                                <p>
                                <a href="https://indoex.io/">Indoex.io</a> 
                                </p>
                                <p>
                                <a href="https://vindax.com/">Vindax.com</a> 
                                </p>
                            </div>
                            <div class="event-single-info">
                                <h6>No ICO! Airdrop</h6>
                                <p>Decentralized, Community Driven Reaserch, Multi-Chain Airdrop Distribution Model</p>
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-2"></div>
                        </div> <!-- row -->
                        <div class="row event-info">
                            <div class="col-lg-3 col-md-3 col-sm-3"></div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h6>Approximate Electroneum / Electronero Network Sharding Ratio </br>
                                If you held ETN before block 307,000, you can still claim all of your unspent Electronero Network EI-1.0 and EI-2.0 shards
                                </h6>
                                
                                </p>     
                                <p>If you store your assets including ETN, XMR, ETH/ERC20, BNB/BEP20 or any Electronero Network: EI-1.0 legacy Cryptonote coins (ETNX, ETNXP, LTNX, GLDX, CRFI) or EI-2.0 xAssets and XRC-20 tokens in <a href="https://webnero.electronero.org/"></a>Webnero, or any Electronero Passport Protocol</a> enabled dAPP during research deployment periods claim additional Electronero Passport Protocol members-only benefits! Including, but not limited to the following;</p>
                                <p>->) 1:1 ETNXP from 1 ETNX (this airdrop block has past in 2019)</p>
                                <p>->) 3:1 CRFI from 1 ETNX, ETNXP, or LTNX <a href="https://www.buymeacoffee.com/interchained/upcoming-swap-3-1-crfi-distribution-electronero-network">Learn more about the upcoming CRFI swap.</a></p>
                                <p>->) 0.00000001 up to 1 xETNX,xETNXP,xLTNX,xGLDX,xCRFI from 1 ETNX, ETNXP, LTNX, GLDX, or CRFI</p>
                                <p>->) Variable swaps from to ETNX/xETNX, ETNXP/xETNXP, LTNX/xLTNX, GLDX/xGLDX, CRFI/xCRFI to BNB/ETH/BTC or XSC on Electronero Smart Chain as XRC-20, on Ethereum as ERC-20, on Binance Chain as BEP-2, & on Binance Smart Chain as BEP-20 tokens.</p>
                                <p>-> Stay tuned for moree swaps, and details on future Electronero Network legacy Cryptonote hard-forks, Electronero affiliates or partners, and Electronero Smart Chain XRC-20 token deployments.
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3"></div>
                        </div>
                </div><!-- .col  -->                
            </div><!-- .row  -->

            <div class="row text-center">
                <div class="col-md-12">
                    
                </div>
            </div><!-- .row  -->
            
               <div class="gaps size-3x"></div><div class="gaps size-3x d-none d-md-block"></div><!-- .gaps  -->

            <div class="row text-center">
            
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="single-chart res-m-btm">
                        <h3 class="sub-heading">Electronero 2.0 Passport Protocol via Web or Telegram bot</h3>
                        <div>
                              <div align='center'><p align='center'>
                              Joining Electronero Passport protocol is as easy as 1, 2, 3. Visit <a href'https://webnero.electronero.org'> Webnero</a></br> or via Telegram send a 
                      PM to <a href='https://t.me/electronerobot'> Electronero Bot </a> and follow the steps below. Replace email with your email address, password with a unique password, and code with a 5 digit numerical safety pin code to protect from unauthorized transfers. 
</p><p align='center'>
                      #1) 
                      /createWallet email password
                      receive an email verification letter, get verified via email
                      only works for accounts which don't exist i.e. new accounts 
</p><p align='center'>
                      #2) 
                      /secureWallet email password code
                       prepare a 5 digit code to add a security code to your Electronero Passport account
</p><p align='center'>
                      #3) 
                      /openWallet email password
                      opens Electronero Network wallet(s) on EI-1.0/EI-2.0 and various other Interchained assets such as BNB/ETH through SideChained AIO Bridge
                              </p></div>
                            <!-- <img src="/images/smart-card-smart-contract-smart-mobile-smart-device.png" alt="chart"> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div><!-- .row  -->
          <div class="gaps size-3x"></div><div class="gaps size-3x d-none d-md-block"></div><!-- .gaps  -->
        </div><!-- .container  -->
    </div>
    <!-- Start Section -->
    
                            </div>
                        </div><!-- .col  -->
                    </div><!-- .row  -->
                </div><!-- .col  -->
            </div><!-- .row  -->
        </div>
    </div>
    <!-- Start Section -->
    
    <!-- Start Section -->
    <div class="section no-pb section-bg-alt" id="faq">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <div class="section-head">
                        <h2 class="section-title">Frequently asked questions
                            <!--<span>FAQS</span>-->
                        </h2>
                        <p>Below weve provided answers to some frequently asked questions. If you have any other questions, please get in touch using the contact form below.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="tab-custom">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs text-center">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tab-1">General</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab-2">Specs</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-1">
                                <div class="accordion" id="accordion-1">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a data-toggle="collapse" data-target="#collapse-1-1">
                                                    What is Electronero?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-1-1" class="collapse show" data-parent="#accordion-1">
                                            <div class="card-body">
                                                <p>Electronero is a hard fork of Electroneum. Deployed in May with no ICO, decentralized and issued to anyone who held ETN outputs on the blockchain before block 307,000. All ETN owners before block 307,000 are ETNX owners.</p>
                                            </div>
                                        </div>
                                    </div>
                                <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-2">
                                                  What is Electronero 2.0?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-1-2" class="collapse" data-parent="#accordion-2">
                                            <div class="card-body">
                                                <p>Electronero 2.0: Interchained is a public Electronero Network network of blockchains built with a combination of Electronero legacy Cryptonote assets ETNX, ETNXP, LTNX, GLDX, CRFI, Electronero Smart Chain $XSC and new tokenized Electronero "xAssets" such as: xETNX, xETNXP, xLTNX, xGLDX, xCRFI and other XRC-20 tokens built by Electronero community with Genesis a fork of Tendermint from Cosmos Network. There is also the aspect of bridging ETH/BSC/CRYPTONOTE/BEYOND! Interchained a set of ERC-20/BEP-20 tokens to bridge the gap between Cryptonote privacy coins, Ethereum and ERC-20, BNB, Binance Smart Chain and BEP-20 tokens via <a href="https://github.com/interchained/sidechained">SideChained AIO</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-3">
                                                  How can I retrieve my Electronero EI-1.0 assets, and Electronero Smart Chain EI-2.0 xAssets and any XRC-20 tokens from past airdrops if I own ETN coins?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-1-3" class="collapse" data-parent="#accordion-3">
                                            <div class="card-body">
                                                <p>To be safe, you may follow our guide:</p>
                                                <p>1: Keep our ETN secure in your web wallet or preferred Exchange storage.</p>
                                                <p>2: Create an ETN paper wallet, or an ETN desktop wallet before the snapshot occurs on block # 307,000</p>
                                                <p>3: Transfer some or all of our ETN tokens to your ETN paper wallet, or ETN desktop wallet before the snapshot occurs on block # 307,000</p>
                                                <p>4: Transfer our ETN back to the ETN web wallet or preferred Exchange storage for safe keeping after the blockchain snapshot on block # 307,000</p>
                                                <p>5: Retrieve your private spend and view keys, along with our address and/or mnemonic seed word key from the ETN wallet you transferred tokens to on step 3</p>
                                                <p>6: Restore our paper wallet / desktop wallet on ETNX network and claim Electronero 1.0 assets and Electronero 2.0 xAssets from ETN outputs existing on all blockchains.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-4">
                                                  How can I retrieve my CRFI airdrop from swaps if I own ETN, ETNX, ETNXP, LTNX coins?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-1-4" class="collapse" data-parent="#accordion-4">
                                            <div class="card-body">
                                                <p>To be safe, you may follow our guide:</p>
                                                <p>1: Keep our coins secure in paper wallet, Webnero or preferred participating Exchange storage.</p>
                                                <p>2: Automatic Simultaneous Distribution occurs and after the snapshot is taken we may claim our outputs on Electronero 1.0 blockchains and our Electronero Smart Chain xAssets on Electronero 2.0: Interchained network.</p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-5">
                                                  How do I contact Electronero if I have an question?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-1-5" class="collapse" data-parent="#accordion-5">
                                            <div class="card-body">
                                                <p>We are providing 24/7 support to the Electronero community, you can get in touch with the Electronero support via email, Telegram, or Twitter.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End tab-pane -->
                            <div class="tab-pane fade" id="tab-2">
                                <div class="accordion" id="accordion-2">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a data-toggle="collapse" data-target="#collapse-2-1">
                                                  Is ETNX ASIC-Resistant?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-2-1" class="collapse show" data-parent="#accordion-2">
                                            <div class="card-body">
                                                <p>Yes. And always will be.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-2-2">
                                                  Is Electronero blockchain private?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-2-2" class="collapse" data-parent="#accordion-2">
                                            <div class="card-body">
                                                <p>Yes. Electronero is based on CryptoNote Monero which is completely anonymous and untraceable.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-2-4">
                                                   Is the Electronero team affiliated with Electroneum?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-2-4" class="collapse" data-parent="#accordion-2">
                                            <div class="card-body">
                                                <p>No, this is a independent decentralized, educational project built by the community to create a fair and secure environment to its users. We support community driven blockchain projects while learning and sharing knowledge with the community.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-2-3">
                                                   How can I participate in Electronero?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-2-3" class="collapse" data-parent="#accordion-2">
                                            <div class="card-body">
                                                <p>We are always looking for help, if you are have skills or ideas to improve Electronero feel free to send us an email or contact us on Social Media.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End tab-pane -->

                        </div><!-- End tab-content -->
                    </div><!-- End tab-custom -->
                </div><!-- End col -->
            </div><!-- End row -->
        </div><!-- End container -->
    </div>
    <!-- End Section -->
