<%# views/index.ejs %>
  <% extend('layout') %>

<!-- <h1>Hello <%= title %></h1> -->
<h1></h1>

  <!-- Start Section -->
    <div class="section section-pad section-bg-alt nopb" id="intro">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="res-m-btm">
                        <div class="header-image animated fadeInRight" data-animate="fadeInRight" data-delay="1.25" style="visibility: visible; animation-delay: 1.25s;"> <img width="60%" height="60%" src="images/header-image-dark.png"><img class="header-image-icon top-icon" src="images/header-icon-a.png" alt="header-icon"> <img class="header-image-icon left-icon" src="images/header-icon-a.png" alt="header-icon"> <img class="header-image-icon right-icon" src="images/header-icon-b.png" alt="header-icon"></div>
                    </div>
                </div><!-- .col  -->
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-8 order-md-first order-last">
                    <div class="text-block">
                        <h2>Introducing Electronero 2.0: Interchained</h2>
                        <div class='ad'></div>
                        <p class="lead"> A state of the art public & private Interchained network. Thrive with Electronero 2.0: Interchained! Reinventing decentralized cryptocurrency by combining the privacy features of CryptoNote coins, with the integrity and technology of public chains such as Binance Smart Chain ($BSC), Bitcoin ($BTC), Ethereum ($ETH), Interchained ($INTERCHAIN) and Electronero Smart Chain ($XSC).  Electronero Network Project is a 100% open source, and community driven project. <a href="https://t.me/electronero">Join the Community</a></p>
                    </div>
                </div><!-- .col  -->
                <div class="col-md-2"></div>
            </div><!-- .row  -->
        </div><!-- .conatiner  -->
    <!-- Start Section -->
    <div class="section section-pad no-pb section-bg-alt">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="text-block">
                        <h4>The Electronero 1.0 Launch</h4>
                        <p class="lead">The original EI-1.0 hard fork from ETN happened at height 307,000 of Electroneum. Electronero 1.0 legacy Cryptonote was forked from Electroneum blockchain, and Monero source code. The block was mined in 2018. The original chain owners abandoned the blockchain, it was attacked and so the community decided to pick it up to build upon it and maintain it. Now after several years of hard work, research and development, there are 5 coins on main net ETNX, ETNXP, LTNX, GLDX,CRFI. Electronero 2.0: Interchained is a combination of legacy Electronero Cryptonote blockchains, with modern Electronero Smart Chain $XSC blockchains, and a cross-chain bridge between major blockchains such as Ethereum, and Binance-Smart-Chain, and more integrations to come such as Polygon, Tron, and UPlexa.  Electronero 2.0: Interchained is here. When block 307,000 was mined way back in 2018 at that time all Electroneum owners became defacto Electronero Network owners. Claim your stakes in the many hard forks of Electronero Network coins and token from your Electroneum. No purchase necessary to claim your shards of Electronero Network swaps like $CRFI, and Electronero Network Hard Forks ranging from Electronero $ETNX, Electronero Pulse $ETNXP, to Litenero $LTNX, Goldnero $GLDX, Crystaleum $CRFI, Interchained, and Electronero Smart Chain $XSC, as well as XRC-20 token swaps like xETNX, xETNXP, xLTNX, xGLDX, xCRFI, and more! Much much more to come...  <a href='https://t.me/etnxnews'>Stay connected to Electronero Network</a></p>
                        <p>While existing solutions offer to solve just one problem at a time, Electronero core development team has built Electronero 2.0: Interchained a lightning-fast, private/pubic, secure, &amp; easy-to-use Interchained currency network. Electronero 2.0: Interchained includes Staking, DEX's, Yield Farming, cross-chain swaps built-with Binance-Smart-Chain, Ethereum, Cryptonote via Electronero Smart Chain ($XSC)! Easy to use cryptocurrency with web/mobile payments integrations, web/mobile experiences. Electronero 2.0: Interchained also brings about new coins/tokens for Electronero Network to claim, such as Electronero Smart Chain $XSC coin ecosystem, Interchained AI $INTERCHAIN BEP-20/ERC-20 tokens. Electronero 2.0: Interchained ecosystem is built with the user in mind to help Electronero developers create light-weight, portable, lightning-fast, and secure blockchains to further Electronero core development team's blockchain research program. Electronero 2.0 Interchained features a DAO with a governance system, and community arbitration network. Electronero 2.0 Interchained also features smart contracts, and framework for DEX's and limitless on-chain storage. </p>
                        <p>Electronero 2.0: Interchained strives to be truly efficient with a full-featured enterprise level public and private blockchain ecosystem, lightning-fast sync optimization, ASIC resistant, Proof of Work & Proof of Stake algorithms. Electronero 2.0: Interchained features Interchained AI; parallell, interoperable multi-chain Oracle monitoring network stability, health, and Interchained AI has the ability to process trades, and alter liquidity on exchanges. Interchained AI also monitors all on-chain, and off-chain digital asset, synthetic asset, cryptocyrrency swap rates and transactions are also processed through Interchained AI. Where Electronero 1.0 transactions were linked exclusively to each designated Electronero Cryptonote blockchain, for example ETNXP or ETNX, Electronero 2.0: Interchained offers Electronero Network and the world the ability to transact cross-chain without borders! Let's say for example transact cross-chain from BTC/ETH/BNB or any ERC-20/BEP-20 token to Electronero Smart Chain $XSC, and from $XSC to any Electronero Network coin/token xETNX, xETNXP, xLTNX, xGLDX, xCRFI or more. Or pehaps another example transaction on Electronero 2.0 Interchained would be to send $XSC or any Electronero Network token on Electronero Smart Chain to ETNX on Cryptonote for privacy-enabled transfers using ring signatures and Bulletproof RCT's, another Electronero 2.0 Interchained transaction example would be from xETNX on Electronero Smart Chain to $XSC on Binance Smart Chain.     </p>
                    </div>
                <div class="col-md-2"></div>
                </div><!-- .col  -->
            </div><!-- .row  -->
        </div><!-- .container  -->
    </div>
 
    <!-- Start Section -->
    <div class="section section-pad section-bg-alt" id="apps">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <div class="section-head">
                        <div class="heading-animation">
                            <span class="line-1"></span><span class="line-2"></span>
                            <span class="line-3"></span><span class="line-4"></span>
                            <span class="line-5"></span><span class="line-6"></span>
                            <span class="line-7"></span><span class="line-8"></span>
                        </div>
                        <h2 class="section-title">Electronero 2.0: Interchained features Electronero Smart Chain $XSC enabled technology at your fingertips! 
                            <!--<span>apps</span>-->
                        </h2>
                        <p>With Electronero 2.0: Interchained Network on your desktop, laptop, mobile (...or raspberry pi, trust us we've tested it!) you can manage Electronero Network legacy "EI-1.0" cryptonote coin transactions, and Electronero 2.0: Interchained "EI-2.0" coins $xETNX, $xETNXP, x$LTNX, $xGLDX, $xCRFI, $XSC, and XRC-20 Electronero Smart Chain "EI-2.0" tokens anytime, anywhere. Anyone with a smartphone and an internet connection can send, and recieve Electronero Network coins or tokens, generate XRC-20 tokens, swap BSC/ETH tokens, Cosmo tokens, and/or Cryptonote coins, and sign or verify Electronero smart contracts in a swift mobile experience. </p>
                        </br>
                        <div class="col-lg-5 offset-lg-1">
                            <div class="countdown-box text-center">
                             <div class="token-countdown d-flex align-content-stretch" data-date="2021/09/09"></div> <!-- .col -->
                            </div>
                        </div><!-- .col  -->
                        <p>
                        <h2 class="section-title">SWAPS
                        </h2>ETNX,ETNXP,LTNX will swap to CRFI 3:1 based on USDT value of holdings during 09/09/2021 snapshot. Swap rates calculated by trading averages from dates: March 9, 2021 through June 9, 2021. ETNX: 0.000000015 litoshi LTC, ETNXP: 0.00000020 litoshi LTC, LTNX: 0.000000015 litoshi LTC </br> Webnero members receive 100% rebates after the swap. 100% rebate is based on tether value of holdings during the snapshot 09/09/2021, and will be issued after the swaps are settled and this benefit is exclusive to Webnero members only.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row text-center">
            <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="section-head">
                        <p>Electronero 2.0: Interchained brings new updates to Webnero, and new mobile applications! Electronero Smart Chain enabled web & mobile wallets, deploy XRC-20 tokens or smart contracts, send/receive Cryptonote, Electronero XRC-20, Binance BEP-20, Ethereum ERC-20 or Cosmos tokens in a unique, efficient, and user-friendly experience. First deployments for Android and iOS are in private alpha stages now. Public beta opens soon. <a href="https://t.me/electronero">Join the community</a> </br>
                        Send/Receive Electronero Network verified Cryptonote, or Electronero XRC-20 tokens, Binance-Smart-Chain (BEP-20) or Ethereum (ERC-20) tokens, Send, Add Contacts, Deploy Contracts, Monitor Markets, Control Settings, Added Layers of Security (Now with 2fa powered by Goole Authenticator!</p> </br> Webnero 2.0 create and publish Smart Contracts or DEX's, publish XRC-20 Tokens, send/receive Electronero Network coins/tokens, and Ethereum (ERC-20) as well as Binance Smart Chain (BEP-20) tokens, Collect Bounty for invites, view Transaction History, add contacts to your Address Book for Future electronero transactions </p>
                        <div class='text-center'> 
                        <ul>
                            <li>Smart Contracts</li>
                            <li>XRC-20 Tokens<li>
                            <li>ERC-20 Tokens<li>
                            <li>BEP-20 Tokens<li>
                            <li>COSMOS Tokens<li>
                            <li>Designed for mass adoption</li>
                            <li>Webnero 2.0 | User-friendly Web Wallet</li>
                        </ul>
                        </div>
                    </div>
                </div><!-- .col  -->
            <div class="col-md-2"></div>
            </div><!-- .row  -->
           
            <!-- Start Section -->
            <div class="row text-center">            
            <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="">
                        <p>Electronero Core Development Team</p>
                        <div class='text-center'> 
                        <ul>
                            <li>Professional Blockchain Developement Network</li>
                            <li>Open Source Collaborative Environment</li>
                        </ul>
                        <ul class="btns">
                            <li><a href="https://github.com/electronero/electronero" class="btn btn-sm">Commit to Electronero Project on Github</a></li>
                        </ul>
                        </div>
                    </div>
                </div><!-- .col  -->
            <div class="col-md-3"></div>
            </div><!-- .row  -->
            </br>             
        </div><!-- .container  -->
    </div>
    <!-- Start Section -->


    <!-- Start Section -->
    <div class="section section-bg-alt" id="tokenSale">
        <div class="container">

            <div class="row text-center">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <div class="section-head">
                        <h2 class="section-title">HARD FORK
                            <!--<span>LAUNCH</span>-->
                        </h2>
                        <p>Public ETNX testnet launched on May 11, 2018 (approximate block height 280,000 of ETN). The ETN/ETNX hard fork happened at height 307,000 and was followed by a public release of wallets, mining pools and exchanges listings, electronero community provided with an easy-to-use mobile integration. Getting ready for the next hard fork ETNX/ETNXP.</p> 
                        <p>As a result of a world wide caucus held between the electronero core team. 19+ members from different parts of the globe were selected as team after participating in volunteer contributions to the Electronero community. The internal reorganization brings with it some discussions and many votes were cast. The votes were split and two coins will be formed from the upcThe votes were split and two networks will be formed EI-1.0, and EI-20. Legacy Electronero Cryptonote will continue, AKA EI-1.0 this blockchain network coverage includes assets such as ETNX, ETNXP, LTNx, GLDX, and CRFI. Electronero 2.0: Interchained is two parts, Electronero Smart Chain which has the $XSC coin which will be the main asset along with all on chain xAssets AKA XRC-20 tokens, and Interchained BEP20/ERC20 tokens for SideChained protocol using multi-chain and side-chain technology with privacy of Cryptonote and Ethereum/Binance tokens. There will be xAssets deployed on Electronero Smart Chain for each Electronero 1.0 asset xETNX, xETNXP, xLTNX, xGLDX, xCRFI and more XRC-20 tokens may be deployed at any time by Electronero Network members. The snapshots will take place estimated September 9, 2021 the date of the final xAssets distributions is expected to be October 30th, 2021. Meanwhile Electronero 1.0 and Electronero 2.0 will operate in parrallel offerring Lighning Fast, Private. and Low-Cost/Low-Energy Cryptonight Fast v1 Proof-Of-Work emissions through EI-1.0 comined with, or exclusive Durability, Speed, and Low-Cost/Low-Energy CloudBakery Proof-of-Stake emissions. Any existing Electronero Network EI-1.0 assets will be transferrable in 1:1 ratio for coins held in Electronero Passport enabled applications or on participating exchange wallets. More details soon followed by an official announcements. <a href="https://t.me/electronero">Stay tuned, connect with us on Telegram!</a></p>
                    </div>
                </div>
            </div>
            <div class="row text-center align-items-center">
                <div class="col-md-12">
                    <div class="single-chart res-m-btm">
                    <h2 class="section-title">Electronero Network </br>
                            <span>Legacy Cryptonote</span>
                        </h2>
                    </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <a href='https://litenero.org'><img width="50%" height="50%" src="https://litenero.org/images/logo-white2x.png" alt="chart"></a>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <a href='https://goldnero.org'><img width="50%" height="50%" src="https://goldnero.org/images/logo-white2x.png" alt="chart"></a>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <a href='https://crystaleum.org'><img width="50%" height="50%" src="https://crystaleum.org/assets/images/crystaleum-blockchain-cryptocurrency-crypto-altcoin.png" alt="chart"></a>
                    </div>
                    </br>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <a href='https://electronero.org'><img width="50%" height="50%" src="/images/nero-logo.png" alt="chart"></a>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <a href='https://electroneropulse.org'><img width="50%" height="50%" src="https://electroneropulse.org/images/logo-white2x.png" alt="chart"></a>
                    </div>
                    </br>
                        
                
            </div><!-- .row  -->
            <div class="row align-items-center">
            </br>
                <div class="col-lg-12 res-m-bttm">
                </br>
                    <div class="row event-info">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4">
                            <div class="event-single-info">
                                <h6>Electronero Network legacy Cryptonote Hard Forks</h6>
                                <p>->) Electronero $ETNX (main net Q1 2018)</p>
                                <p>->) Electronero Pulse $ETNXP (main net Q4 2018)</p>
                                <p>->) Litenero $LTNX (main net Q2 2019)</p>
                                <p>->) Goldnero $GLDX (main net Q2 2019)</p>
                                <p>->) Crystaleum $CRFI (main net Q3 2020)</p>
                                <p>->) Crypto Bookers $BOOK (main net Q3 2021)</p>
                                <p>->) GamExchange $GAME (main net Q3 2021)</p>
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-4">
                            <div class="event-single-info">
                                <h6>Approximate Electronero Network Sharding Ratio </br>
                                If you held ETN before block 307,000, you can still claim all of your remaining Electronero Network shards
                                </h6>
                                <p>->) 1 ETNX from 1 ETN</p>
                                <p>->) .1 ETNXP from 1 ETN</p>
                                <p>->) 0.01 LTNX from 1 ETN</p>
                                <p>->) 0.001 GLDX from 1 ETN</p>
                                <p>->) 0.000000384616 CRFI from 1 ETN</p>
                                <p>If you park your ETNX in Webnero, or an Electronero Passport / Electronero Smart chain enabled application during research deployment periods you could have claim to the following.</p>
                                <p>->) 1:1 ETNXP from 1 ETNX (past in 2019)</p>
                                <p>->) 3:1 CRFI from 1 ETNX, ETNXP, or LTNX </p>
                                <p>->) 0.001 up to 1 xETNX,xETNXP,xLTNX,xGLDX,xCRFI from 1 ETNX, ETNXP, LTNX, GLDX, or CRFI</p>
                                <p>->) 0.0000001 up to 1 Electronero Smart Chain original $XSC XRC-20 token from 1 ETNX/xETNX, ETNXP/xETNXP, LTNX/xLTNX, GLDX/xGLDX, CRFI/xCRFI</p>
                                <p>-> Stay tuned for moree swaps, and details on future Electronero Network legacy Cryptonote hard-forks, Electronero affiliates or partners, and Electronero Smart Chain XRC-20 token deployments.
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-2"></div>
                        </div> <!-- row -->
                        <div class="row event-info">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4">
                            <div class="event-single-info">
                                <h6>Total Supplys (to be updated)</h6>
                                <p>~36,000,000,000 $ETNX (6 decimals)</p>
                                <p>~1,500,000,000,000 $ETNXP (6 decimals)</p>
                                <p>~210,000,000 $LTNX (8 decimals)</p>
                                <p>~18,500,000 $GLDX (12 decimals)</p>
                                <p>~101,101 $CRFI (12 decimals)</p>
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-4">
                            <div class="event-single-info">
                                <h6>Exchange Listing</h6>
                                <p><a href="https://tradeogre.com/">TradeOgre.com</a>
                                </p>
                                <p>
                                <a href="https://Finexbox.com/">Finexbox.com</a> 
                                </p>
                                <p>
                                <a href="https://bitexlive.com/">Bitexlive.com</a> 
                                </p>
                                <p>
                                <a href="https://indoex.io/">Indoex.io</a> 
                                </p>
                                <p>
                                <a href="https://vindax.com/">Vindax.com</a> 
                                </p>
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-2"></div>
                        </div> <!-- row -->                        
                        <div class="row event-info">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4">
                            <div class="event-single-info">
                                <h6>No ICO! Airdrop</h6>
                                <p>Decentralized, Community Driven Reaserch, Multi-Chain Airdrop Distribution Model</p>
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-4">
                            <div class="event-single-info">
                                <h6>Electronero 2.0 Rewards</h6>
                                <p>Dual PoW/PoS Emissions</p>
                                <p>PoS Staking, and PoW Mining</p>
                                <p>Yield Farming, Staking/p>
                                <p>Electronero EI-1.0 assets, EI-2.0 xAssets & XRC-20, Binance-Smart-Chain BEP-20 & Ethereum ERC-20 Liquidity Pools</p>
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-2"></div>
                    </div><!-- .row  -->
                </div><!-- .col  -->                
            </div><!-- .row  -->

            <div class="gaps size-3x"></div><div class="gaps size-3x d-none d-md-block"></div><!-- .gaps  -->

            <div class="row text-center">
                <div class="col-md-12">
                    
                    
                    
                </div>
            </div><!-- .row  -->
            
               <div class="gaps size-3x"></div><div class="gaps size-3x d-none d-md-block"></div><!-- .gaps  -->

            <div class="row text-center">
            <!-- // -->
            <section class="section bg-light">
                <div class="container">
                    <div class="nk-block nk-block-feature">
                        <div class="section-head text-center">
                            <h2 class="title title-regular">Get started now</h2>
                            <p>Can’t wait to try EI-2.0? You don’t have to! Get started in a matter of minutes.</p>
                        </div>
                        <div class="col-md-12">
                                <div class="feature feature-center">
                                    <div class="feature-serial">
                                        <span>1</span>
                                    </div>
                                    <div class="feature-text feature-text-wd">
                                        <h5 class="title title-md">Sign up </br>for Electronero Passport</h5>
                                        <p class="mx-auto">Enter your email address, create a password, and security code, we'll send you an email to verify.</p>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="feature feature-center">
                                    <div class="feature-serial">
                                        <span>2</span>
                                    </div>
                                    <div class="feature-text feature-text-wd">
                                        <h5 class="title title-md">Verify Your Email</h5>
                                        <p class="mx-auto">Electronero Passport will send you an email to verify your account. Follow the link provided in the email to complete account registration.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="feature feature-center">
                                    <div class="feature-serial">
                                        <span>3</span>
                                    </div>
                                    <div class="feature-text feature-text-wd">
                                        <h5 class="title title-md">Explore Electronero Network ecosystem</h5>
                                        <p class="mx-auto">See how easy it is to deploy XRC-20 tokens on Electronero 2.0: Interchained! Access legacy EI-1.0 Electronero Cryptonote assets and EI-2.0 Electronero Smart Chain xAssets. Exchange Trade and P2P Swap legacy EI-1.0 ETNX, ETNXP, LTNX, GLDX, CRFI, and affiliated Cryptonote, or EI-2.0 XSC and/or xAssets such as xETNX, xETNXP, XLTNX, xGLDX, xCRFI or any EI-2.0 XRC20 tokens and Ethereum ERC20, Binance Smart Chain BEP20, COSMOS, and more assets! and invest with ICO Crypto!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center pt-3">
                            <a href="https://webnero.electronero.org/register.html" class="btn btn-lg btn-secondary">Create Account</a>
                        </div>
                        </br>
                    </div>
                </div>
            </section>
            <div class="row">
                <div class="col-md-12">
                    <div class="single-chart res-m-btm">
                        <h3 class="sub-heading">Electronero 2.0 Passport Protocol via Web or Telegram bot</h3>
                        <div>
                              <div align='center'><p align='center'>
                              Joining Electronero Passport protocol is as easy as 1, 2, 3. Visit <a href'https://webnero.electronero.org'> Webnero</a></br> or via Telegram send a 
                      PM to <a href='https://t.me/electronerobot'> Electronero Bot </a> and follow the steps below. Replace email with your email address, password with a unique password, and code with a 5 digit numerical safety pin code to protect from unauthorized transfers. 
</p><p align='center'>
                      #1) 
                      /createWallet email password
                      receive an email verification letter, get verified via email
                      only works for accounts which don't exist i.e. new accounts 
</p><p align='center'>
                      #2) 
                      /secureWallet email password code
                       prepare a 5 digit code to add a security code to your Electronero Passport account
</p><p align='center'>
                      #3) 
                      /openWallet email password
                      opens Electronero Network wallet(s) on EI-1.0/EI-2.0 and various other Interchained assets such as BNB/ETH through SideChained AIO Bridge
                              </p></div>
                            <!-- <img src="/images/smart-card-smart-contract-smart-mobile-smart-device.png" alt="chart"> -->
                        </div>
                    </div>
                </div>
            </div><!-- .row  -->

        </div><!-- .container  -->
    </div>
    <!-- Start Section -->


    <!-- Start Section -->
    <div class="section section-pad section-bg-alt" id="roadmap">
        <div class="container">

            <div class="row text-center">
                <div class="col">
                    <div class="section-head">
                        <h2 class="section-title">Technical Roadmap
                            <!--<span>RoadMap</span>-->
                        </h2>
                    </div>
                </div>
            </div>

            <div class="row roadmap-list align-items-end">
                <div class="col-lg">
                    <div class="single-roadmap roadmap-sm roadmap-done">
                        <h6>April 2018</h6>
                        <p>Start of the project.</p>
                    </div>
                </div><!-- .col  -->
                    <div class="col-lg">
                    <div class="single-roadmap roadmap-down roadmap-done">
                        <h6>May 2018</h6>
                        <p>Public Testnet launches.</p>
                    </div>
                  </div><!-- .col  -->
                      <div class="col-lg">
                      <div class="single-roadmap roadmap-sm roadmap-lg roadmap-done">
                          <h6>May 2018</h6>
                          <p>Beginning of Bounty Program, Smart Mobile Wallet w/ Contracts development project round 1 funded</p>
                      </div>
                </div><!-- .col  -->
                    <div class="col-lg ">
                    <div class="single-roadmap roadmap-down roadmap-lg roadmap-done">
                        <h6>May 2018</h6>
                        <p>Bulletproof RCT's & Ring Signatures Enabled</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg">
                    <div class="single-roadmap roadmap-up roadmap-lg roadmap-done">
                        <h6>May 2018</h6>
                        <p>Mobile Smart Contracts and Mobile Bounty development started</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg width-0">
                    <div class="single-roadmap roadmap-down roadmap-lg roadmap-done">
                        <h6>June 2018</h6>
                        <p>Main Net launch & Exchange Listing</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg">
                    <div class="single-roadmap roadmap-up roadmap-lg roadmap-done">
                        <h6>July 2018</h6>
                        <p>Cryptonight FAST POW algo implemented on main net</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg ">
                    <div class="single-roadmap roadmap-down roadmap-done">
                        <h6>July 2018</h6>
                        <p>Infrastructure Expansion, Bounty Program upgrade</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg">
                    <div class="single-roadmap roadmap-up roadmap-lg roadmap-done">
                        <h6>August 2019</h6>
                        <p>Electronero Passport, Web & Mobile Wallets, public beta</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg ">
                    <div class="single-roadmap roadmap-down roadmap-done">
                        <h6>September 2020</h6>
                        <p>Crystaleum CRFI announces partnership with Electronero Network. CRFI swap data collection begins.</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg">
                    <div class="single-roadmap roadmap-lg roadmap-done">
                        <h6>March 2021</h6>
                        <p>CRFI swap data collection ends. </br>ETNX rate: 0.000000015 LTC</br>ETNXP rate: 0.00000020 LTC </br>LTNC rate: 0.000000015 LTC</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg ">
                    <div class="single-roadmap roadmap-down">
                        <h6>September 2021</h6>
                        <p>Electronero 2.0: Interchained public main net launch</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg">
                    <div class="single-roadmap roadmap-sm">
                        <h6>October 2021</h6>
                        <p>Governance DAO deployment</p>
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
        </div><!-- .container  -->
    </div>
    <!-- Start Section -->
    
    
                            </div>
                        </div><!-- .col  -->
                    </div><!-- .row  -->
                </div><!-- .col  -->
            </div><!-- .row  -->
        </div>
    </div>
    <!-- Start Section -->
    
    <!-- Start Section -->
    <div class="section no-pb section-bg-alt" id="faq">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <div class="section-head">
                        <h2 class="section-title">Frequently asked questions
                            <!--<span>FAQS</span>-->
                        </h2>
                        <p>Below we’ve provided answers to some frequently asked questions. If you have any other questions, please get in touch using the contact form below.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="tab-custom">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs text-center">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tab-1">General</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab-2">Specs</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-1">
                                <div class="accordion" id="accordion-1">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a data-toggle="collapse" data-target="#collapse-1-1">
                                                    What is Electronero?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-1-1" class="collapse show" data-parent="#accordion-1">
                                            <div class="card-body">
                                                <p>Electronero is a hard fork of Electroneum. Deployed in May with no ICO, decentralized and issued to anyone who held ETN outputs on the blockchain before block 307,000. All ETN owners before block 307,000 are ETNX owners.</p>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a data-toggle="collapse" data-target="#collapse-1-2">
                                                    What is Electronero Pulse?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-1-2" class="collapse show" data-parent="#accordion-2">
                                            <div class="card-body">
                                                <p>Electronero Pulse, a mineable gaming coin, is a hard fork of Electronero. All ETNX owners before block 500,000 are ETNXP owners and ETN holders before block 307,000 are also included in the snapshot. All ETNX owners before block 500,000 are ETNXP owners.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-3">
                                                  How can I retrieve my ETNX if I own ETN coins?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-1-3" class="collapse" data-parent="#accordion-3">
                                            <div class="card-body">
                                                <p>To be safe, you may follow our guide:</p>
                                                <p>1: Keep our ETN secure in your web wallet or preferred Exchange storage.</p>
                                                <p>2: Create an ETN paper wallet, or an ETN desktop wallet before the snapshot occurs on block # 307,000</p>
                                                <p>3: Transfer some or all of our ETN tokens to your ETN paper wallet, or ETN desktop wallet before the snapshot occurs on block # 307,000</p>
                                                <p>4: Transfer our ETN back to the ETN web wallet or preferred Exchange storage for safe keeping after the blockchain snapshot on block # 307,000</p>
                                                <p>5: Retrieve your private spend and view keys, along with our address and/or mnemonic seed word key from the ETN wallet you transferred tokens to on step 3</p>
                                                <p>6: Restore our paper wallet / desktop wallet on ETNX network and claim our Electronero ETNX from ETN outputs existing on both blockchains.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-4">
                                                  How can I retrieve my ETNXP if I own ETNX coins?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-1-4" class="collapse" data-parent="#accordion-4">
                                            <div class="card-body">
                                                <p>To be safe, you may follow our guide:</p>
                                                <p>1: Keep our ETNX secure in our Electroneron mobile wallet or preferred participating Exchange storage.</p>
                                                <p>2: Automatic Simultaneous Distribution of 1:1 ETNXP:ETNX and 1:1000000 ETNX:ETNXP occurs and after the snapshot is taken and our hard fork is finalized we may claim our 1:1 ETNXP outputs on Electronero Pulse blockchain and also our 1:1000000 ETNX outputs on Electronero network.</p>
                                                <p>ETNX Details: Our ETNX will be restorable on Electronero network. 8 decimals coin unit. 36 million total coin supply. Low emissions.</p>
                                                <p>ETNXP Details: Our ETNXP will be restorable on Electronero Pulse network. 2 decimals coin unit. 500 billion total coin supply. High emissions.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-5">
                                                  How do I contact Electronero if I have an question?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-1-5" class="collapse" data-parent="#accordion-5">
                                            <div class="card-body">
                                                <p>We are providing 24/7 support to the Electronero community, you can get in touch with the Electronero support via email, Telegram, or Twitter.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End tab-pane -->
                            <div class="tab-pane fade" id="tab-2">
                                <div class="accordion" id="accordion-2">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a data-toggle="collapse" data-target="#collapse-2-1">
                                                  Is ETNX ASIC-Resistant?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-2-1" class="collapse show" data-parent="#accordion-2">
                                            <div class="card-body">
                                                <p>Yes. And always will be.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-2-2">
                                                  Is Electronero blockchain private?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-2-2" class="collapse" data-parent="#accordion-2">
                                            <div class="card-body">
                                                <p>Yes. Electronero is based on CryptoNote Monero which is completely anonymous and untraceable.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-2-4">
                                                   Is the Electronero team affiliated with Electroneum?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-2-4" class="collapse" data-parent="#accordion-2">
                                            <div class="card-body">
                                                <p>No, this is a independent decentralized, educational project built by the community to create a fair and secure environment to its users. We support community driven blockchain projects while learning and sharing knowledge with the community.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-2-3">
                                                   How can I participate in Electronero?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-2-3" class="collapse" data-parent="#accordion-2">
                                            <div class="card-body">
                                                <p>We are always looking for help, if you are have skills or ideas to improve Electronero feel free to send us an email or contact us on Social Media.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End tab-pane -->

                        </div><!-- End tab-content -->
                    </div><!-- End tab-custom -->
                </div><!-- End col -->
            </div><!-- End row -->
        </div><!-- End container -->
    </div>
    <!-- End Section -->
