<%# views/layout.ejs %>
<!DOCTYPE html>
<html lang="zxx" class="js">
    <script>
    if (window.location.protocol == 'http:') {
            console.log("you are accessing Electronero via "+"an insecure protocol (HTTP). "+"Redirecting you to HTTPS.");
            window.location.href = window.location.href.replace('http:', 'https:');
    } else {
            console.log("you are accessing Electronero via"+ " our secure HTTPS protocol.");
        };
    </script>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Electronero Network: EI-1.0 - legacy Cryptonote. EI-2.0 - Interchained XSC (BEP20/ERC20) & Electronero Smart Chain">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Electronero Network: EI-1.0 - legacy Cryptonote. EI-2.0 - Interchained XSC (BEP20/ERC20) & Electronero Smart Chain">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="/public/favicon.ico">
    <!-- Site Title  -->
    <title>Electronero Network: EI-1.0 - legacy Cryptonote. EI-2.0 - Interchained XSC (BEP20/ERC20) & Electronero Smart Chain</title>
    <!-- Font styles -->
    <link rel="stylesheet" href="/assets/css/font.css?ver=1990"><!-- Vendor Bundle CSS -->
    <!-- Vendor styles -->
    <link rel="stylesheet" href="/assets/css/vendor.bundle.css?v=2">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/assets/css/style.css?ver=122">
    <link rel="stylesheet" href="/assets/css/theme.css?ver=121">
    <!-- Custom styles from electronero devs -->
    <link rel="stylesheet" href="/assets/css/custom.css?v=2021">
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css?ver=115">
    <link rel="icon" type="image/png" href="/public/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/public/favicon-16x16.png" sizes="16x16" />
    <!-- FontAwesome! -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
</head>

<body class="theme-light" data-spy="scroll" data-target="#mainnav" data-offset="80">
<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT}, 'google_translate_element');
}
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <!-- Header -->
    <header class="site-header is-sticky">
    <video id="background-video" autoplay loop muted>
      <source src="#" type="video/mp4">
    </video>
        <!-- Place Particle Js -->
        <div id="particles-js" class="particles-container particles-js"></div>
    <style> 
        table,
        td {
            border: 1px solid #333;
        }

        thead,
        tfoot {
            background-color: #333;
            color: #fff;
        }        
        .interchained {
                /*setting alpha = 0.1*/
                background: rgba(0, 0, 0, 0.73);
                padding: 10px;
                text-align:justify; 
            }
            
            .interchained-light {
                /*setting alpha = 0.1*/
                background: rgba(255, 255, 255, 0.4593796);
                padding: 10px;
                text-align:justify; 
                font-size: 1.2em;
                font-weight: bold;
            }
            .xsc-image {
                vertical-align: middle;
                position: relative; /* Declared position allows for location changes */
                top: 15px; /* Moves the image 2px closer to the bottom of the page */
            }
            .cx-image {
                vertical-align: middle;
                position: relative;/* Declared position allows for location changes */
                top: 35px; /* Moves the image 2px closer to the bottom of the page */
            }            
            .l-image {
                vertical-align: middle;
                position: relative; /* Declared position allows for location changes */
                top: 3px; 
            }          
            .g-image {
                vertical-align: middle;
                position: relative; /* Declared position allows for location changes */
                top: 30px; /* Moves the image 2px closer to the bottom of the page */
            }
            .main-image {
                vertical-align: middle;
                position: relative; /* Declared position allows for location changes */
                top: 20px; /* Moves the image 2px closer to the top of the page */
            }
            .t-image {
                vertical-align: middle;
                position: relative; /* Declared position allows for location changes */
                top: -6px; /* Moves the image 2px closer to the top of the page */
            }
            .nclick {
              pointer-events: none;
            }
            .nclick a.hclick{
              pointer-events: all;
            }
            .hclick{
              pointer-events: all;
            }
            /*Logo carousel*/
            #coins {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            #coins .coins-wrap {
                display: block;
                width: 95%;
                margin: 0 auto;
                overflow: hidden;
            }

            #coins .coins-wrap ul {
              font-family: 'Gotham', sans-serif;
              font-weight: bold;
                display: block;
                list-style: none;
                position: relative;
                margin-left: auto;
                margin-right: auto;
            }

            #coins .coins-wrap ul li {
              display: block;
              float: left;
              position: relative;
              width: 275px;
              height: 100px;
              line-height: 100px;
              text-align: center;
            }
            #coins .coins-wrap ul li img {
              vertical-align: middle;
              max-width: 100%;
              max-height: 100%;
              -webkit-transition: 0 linear left;
              -moz-transition: 0 linear left;
              transition: 0 linear left;
              -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
              filter: alpha(opacity=65); 
              opacity: 0.75;
            }
            #coins .etnx-coins-wrap ul li img {
              vertical-align: middle;
              max-width: 100%;
              max-height: 100%;
              -webkit-transition: 0 linear left;
              -moz-transition: 0 linear left;
              transition: 0 linear left;
              -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
              filter: alpha(opacity=55); 
              opacity: 0.65;
            }
            #coins .xsc-coins-wrap ul li img {
              vertical-align: middle;
              max-width: 100%;
              max-height: 100%;
              -webkit-transition: 0 linear left;
              -moz-transition: 0 linear left;
              transition: 0 linear left;
              -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
              filter: alpha(opacity=80); 
              opacity: 0.90;
            }
            #coins .coins-wrap ul li img:hover {
              -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
              filter: alpha(opacity=100); 
              opacity: 1.0;
            }
            
            .floating { 
                animation-name: floating;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }
            .floatingX { 
                animation-name: floating;
                animation-duration: 8s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }
            .floatingE { 
                animation-name: floating;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }
            .floatingXP { 
                animation-name: floating;
                animation-duration: 7s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }
            .floatingL { 
                animation-name: floating;
                animation-duration: 5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }
            .floatingCRFI { 
                top: 5px;
                animation-name: floating;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }
            .floatingC { 
                animation-name: floating;
                animation-duration: 4s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }
            .floatingG { 
                animation-name: floating;
                animation-duration: 6s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }
            .floatingXassets { 
                animation-name: floating;
                animation-duration: 5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }            
            @keyframes floating {
                0% { transform: translate(0,  0px); }
                50%  { transform: translate(0, 18px); }
                100%   { transform: translate(0, -0px); }   
            }
            .content-desktop {display: block;}
            .content-mobile {display: none;}
            @media screen and (max-width: 1000px) {
            .content-only-desktop {display: none;}
            .content-mobile {display: block;}
            }            
    </style>
        <!-- Navbar -->
        <div class="navbar navbar-expand-lg is-transparent interchained" id="mainnav" style="color:#fff">
            <nav class="container">
                <a class="navbar-brand" href="./">
                    <img class="logo logo-dark" alt="logo" src="/images/logo.png" srcset="/images/logo2x.png 2x">
                    <img class="logo logo-light" alt="logo" src="/images/logo-white.png" srcset="/images/logo-white2x.png 2x">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
                    <span class="navbar-toggler-icon">
                        <span class="ti ti-align-justify"></span>
                    </span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link menu-link" href="#intro">About<span class="sr-only">(current)</span></a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="#tokenSale">Genesis</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="#airdrop_swap">Claim</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="#roadmap">Roadmap</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="https://t.me/electronero">Community</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="#faq">FAQ</a></li>
            <li class="nav-item"><a class="nav-link menu-link" href="//electronero.org/docs">DOCS</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="#contact">Contact</a></li>
                    </ul>
                    <ul class="navbar-nav navbar-btns">
                        <li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" target="_blank" href="https://electronero.org/public/doc/Bulletproof%20RingCT.pdf">BulletProof RCT</a></li>
                        <li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" href="https://electronero.org/public/doc/electronero-whitepaper.pdf">Whitepaper</a></li>
                        <li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" target="_blank" href="https://github.com/electronero/electronero">Source</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End Navbar -->

    <!-- Banner/Slider ::: "add backs are stuff we took out, we could add it back later... or not" ::: var add_backs = banner; -->
    <div id="header" class="banner-full banner-curb d-flex align-items-center" style="color:#fff">
            <div class="container">
                <div class="row banner-content">
                    <div class="col-lg-3 col-md-3 col-sm-3"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 nclick network">
                        <div class="row text-center nclick content-only-desktop">
                        <div class="col-sm-4 col-md-4 col-lg-4 nclick floatingE">
                        <div>
                        <a class="hclick" href='https://electronero.org'>
                            <img width="60%" height="60%" src="/images/nero-logo.png" alt="chart">
                        </div>
                        </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4"></div>
                        <div class="col-sm-4 col-md-4 col-lg-4 floatingXP">
                        <a class="hclick" href='https://electroneropulse.org'>
                        <div>
                            <img width="60%" height="60%" src="https://electroneropulse.org/images/logo-white2x.png" alt="chart">
                        </div> 
                        </a>
                        </div>       
                        <div class="col-sm-3 col-md-3 col-lg-3 nclick">
                        </div>                               
                        <div class="col-sm-3 col-md-3 col-lg-3 nclick floatingXassets">
                            <a class="hclick" href='https://webnero.electronero.org/xassets'>
                                <div>
                                    <img width="60%" height="60%" src="https://electronero.org/assets/images/electronero-smart-chain-interchained-xETNX.svg" alt="chart">
                                </div> 
                            </a>
                            </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 nclick floatingXassets">
                            <a class="hclick" href='https://webnero.electronero.org/xassets'>
                                <div>
                                    <img width="60%" height="60%" src="https://electronero.org/assets/images/electronero-smart-chain-interchained-xETNXP.svg" alt="chart">
                                </div> 
                            </a>
                        </div>    
                        <div class="col-sm-3 col-md-3 col-lg-3 nclick">
                        </div>                           
                        <div class="col-sm-2 col-md-2 col-lg-2 nclick">
                        </div>    
                        <div class="col-sm-8 col-md-4 col-lg-8 xsc-image floatingX">
                            <a class="hclick" href='https://webnero.electronero.org'>
                                <div>
                                    <img width="100%" height="100%" src="https://electronero.org/assets/images/electronero-smart-chain-interchained-xsc.svg" alt="chart">
                                </div>
                                </a>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2 nclick">
                        </div>                                                           
                        <div class="col-sm-3 col-md-3 col-lg-3 nclick">
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 nclick floatingXassets">
                            <a class="hclick" href='https://webnero.electronero.org/xassets'>
                                <div>
                                    <img width="60%" height="60%" src="https://electronero.org/assets/images/electronero-smart-chain-interchained-xLTNX.svg" alt="chart">
                                </div> 
                            </a>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 nclick g-image floatingXassets">
                            <a class="hclick" href='https://webnero.electronero.org/xassets'>
                                <div>
                                    <img width="60%" height="60%" src="https://electronero.org/assets/images/electronero-smart-chain-interchained-xGLDX.svg" alt="chart">
                                </div> 
                            </a>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 nclick">
                        </div>  
                        <div class="col-sm-4 col-md-4 col-lg-4 l-image floatingL">
                        <a class="hclick" href='https://litenero.org'>
                        <div>
                            <img width="70%" height="70%" src="https://litenero.org/images/logo-white2x.png" alt="chart">
                        </div>
                        </a>
                        </div>                                
                        <div class="col-sm-4 col-md-4 col-lg-4 nclick cx-image floatingCRFI">
                            <a class="hclick" href='https://crystaleum.org'>
                                <div>
                                    <img width="60%" height="60%" src="http://crystaleum.org/assets/images/crystaleum-blockchain-cryptocurrency-crypto-altcoin.png" alt="chart">
                                </div> 
                            </a>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 floatingG">
                        <a class="hclick" href='https://goldnero.org'>
                        <div>
                            <img width="70%" height="70%" src="https://goldnero.org/images/logo-white2x.png" alt="chart">
                        </div>
                        </a>
                        </div>   
                      </div><!-- .row  -->  
                      <div class="row header-nav"><br>
                            <div class="col-sm-12 col-md-12 col-lg-12 nclick header-content">
                                <br>
                                <h3 style="color:#fff" class='interchained hone'>Electronero 2.0: Electronero Smart Chain & Interchained XSC
                                </h3>
                                <p style="color:#000" class='hone interchained-light'>
                                    Deposit $ETNX, $ETNXP, or $LTNX now to <a class="hclick" href="https://webnero.electronero.org/"></a>Webnero</a> to claim your free $CRFI!
                                    <br>$CRFI Swap started on 09/09/2021! $CRFI is being perpetually airdropped to <u>Webnero</u> members and participating exchanges holding $ETNX, $ETNXP, or $LTNX. <br>Login to Webnero and get a swap estimate to see how much $CRFI you could claim, and read full details about how the airdrop swap rates are calculated on <a href="https://electronero.org/swap"></a>Swap panel</a>. The airdrop & swap program is free for Electronero Network members to participate, join Webnero now to claim your members-only benefits.
                                </p>
                                <div class="countdown-box text-center"><h2 style="color:#fefefe" align="center">$CRFI</h2>
                                    <div class="token-countdown d-flex align-content-stretch" data-date="2021/10/10"></div> <!-- .col -->
                                </div>  
                                <ul class="social" align="center">
                                    <li><a class="hclick" target="_blank" href="https://t.me/electronero"><em class="fab fa-telegram"></em></a></li>
                                    <li><a class="hclick" target="_blank" href="https://twitter.com/_electronero"><em class="fab fa-twitter"></em></a></li>
                                    <li><a class="hclick" target="_blank" href="https://instagram.com/electronero"><em class="fab fa-instagram"></em></a></li>
                                    <li><a class="hclick" target="_blank" href="https://github.com/electronero"><em class="fab fa-github"></em></a></li>
                                    <li><a class="hclick" target="_blank" href="https://www.reddit.com/r/Electronero_official"><em class="fab fa-reddit"></em></a></li>
                                    <li><a class="hclick" target="_blank" href="https://discord.gg/Msy85Uz"><em class="fab fa-discord"></em></a></li>
                                </ul>
                                <p style="color:#000" class='hone interchained-light'><a class="hclick" href="https://t.me/etnxnews">Read Latest Electronero Network News on Telegram <i class="fab fa-telegram"></i></a></i></p>
                                <p style="color:#000" class='hone interchained-light'>As seen on <a class="hclick" href="https://themerkle.com/electroneum-hard-fork-electronero-combines-features-from-different-cryptonote-currencies/"><img width="30px" height="30px" src="/images/the-merkle.png" /></a> & <a href="https://www.bitcoininsider.org/article/24743/electroneum-hard-fork-electronero-combines-features-different-cryptonote-currencies"><img width="30px" height="30px" src="/images/bitcoin-insider.png" /></a>
                                </p>
                                <div class="row header-wallet"><br>
                                <div class="col-md-2 col-sm-2 col-lg-2"></div><br>
                                <div class="col-md-8 col-sm-8 col-lg-8"><h2 style="color:#fefefe">Wallet</h2></div>
                                <div class="col-md-2 col-sm-2 col-lg-2"></div><br>
                                <div class="col-md-1 col-sm-1 col-lg-1"></div>
                                <divclass="col-md-5 col-sm-5 col-lg-5">
                                    <ul class="navbar-nav navbar-btns">
                                        <li class=""><a class="hclick btn btn-sm btn-outline" target="_blank" href="https://webnero.electronero.org/login.html">Connect</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-5 col-sm-5 col-lg-5">
                                    <ul class="navbar-nav navbar-btns">
                                        <li class=""><a class="hclick btn btn-sm btn-outline" href="https://webnero.electronero.org/register.html">Create</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-1 col-sm-1 col-lg-1"></div>                               
                                <div class="col-md-3 col-sm-3 col-lg-3"></div>                               
                                <div class="col-md-6 col-sm-6 col-lg-6">
                                    <ul  class="navbar-nav navbar-btns">
                                        <li class=""><a class="hclick btn btn-sm btn-outline" target="_blank" href="https://webnero.electronero.org/reset.html">Recover</a></li>
                                    </ul>
                                </div>                              
                                <div class="col-md-3 col-sm-3 col-lg-3"></div>   
                                <br>
                                <p style="color:#000" class='hone interchained-light'>Deploy XRC-20 Tokens, Smart Contracts, Stake legacy Electronero, <a class="hclick" href="https://electroneum.org">Electroneum</a>, <a href="https://getmonero.org">Monero</a>, and affiliate Cryptonote coins or Electronero Smart Chain $XSC and all "xAsset" tokens! Add Liquidity to Pools on <a href="https://apewwap.finance">ApeSwap</a>, <a href="https://pancakeswap.finance">Pancakeswap</a>, <a href="https://app.uniswap.org">Uniswap</a>. Yield Farming featuring legacy Electronero, Electroneum, Monero, affiliate Cryptonote, EI-2.0 XRC-20 tokens, Ethereum ERC-20, Binance-Smart-Chain BEP-20, and Cosmos tokens. Polygon/Tron token intergrations in development. Get involved with Electronero 2.0: Interchained!
                                </p>
                        </div> <!-- .header-wallet -->
                      </div> <!-- .header-content -->
                    </div> <!-- .header-nav -->
                </div> <!-- .network -->
                    <div class="row">
                    </br>
                    <div class="col-lg-6 col-md-6 col-sm-6 countdown-header count-down">
                                                                
                    </div> <!-- .count-down -->
                    <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                        <!-- side header top right -->
                    </div>
                    </div>
                </div> <!-- .banner-content  -->
                <div class="col-sm-3 col-md-3 col-lg-3"></div>
            </div> <!-- .container  -->
        </div> <!-- End Banner/Slider -->
</header>
<!-- End Header -->
        <div class="container">
            <%- content %>
        </div><!-- /.container -->

    <!-- Start Section -->
    <div class="section section-pad section-bg-alt" id="contact">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <div class="section-head">
                        <h2 class="section-title">Contact Electronero Core
                        </h2>
                        <p>Any question? Reach out via email <a class="hclick" href="mailto:support@electronero.org">support@electronero.org</a>, and we’ll get a reply to you. Tweet @_electronero, or join @electronero on Telegram!!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2" align="center">
                    <ul class="contact-info" align="center">
                        <li><em class="fab fa-twitter"></em><a class="hclick" href="https://twitter.com/_electronero"><span>Tweet @_electenero</span></a></li>
                        <li><em class="fa fa-envelope"></em><a class="hclick" href="mailto:support@electronero.org"><span>Send Electronero an Email</span></a></li>
                        <li><em class="fab fa-telegram"></em><a class="hclick" href="https://t.me/electronero"><span>Join Electronero on Telegram</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <form id="contact-form" class="form-message text-center" action="contact/send" method="post">
                        <div class="form-results"></div>
                        <div class="input-field">
                            <input name="name" type="text" class="input-line form-control required">
                            <label for="name" class="input-title">Your Name</label>
                        </div>
                        <div class="input-field">
                            <input name="email" type="email" class="input-line form-control required email">
                            <label for="email" class="input-title">Your Email</label>
                        </div>
                        <div class="input-field">
                            <textarea name="message" type="text" class="txtarea input-line required"></textarea>
                            <label for="message" class="input-title">Your Message</label>
                        </div>
                        <input type="text" class="d-none" name="form-anti-honeypot" value="">
                        <div class="input-field">
                            <button type="submit" onclick="setTimeout(formSubmit, 1000)" class="slideOut btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Section -->


    <!-- Start Section -->
    <div class="section subscribe-section section-pad-md section-bg section-connect">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 offset-md-3">
                    <h4 class="section-title-md">Don't miss out! <a class="hclick" href="https://t.me/etnxnews">Get Signals on Telegram</a></h4>
                    <form id="subscribe-form" action="contact/subscribe" method="post" class="subscription-form inline-form">
                        <input type="email" name="email" class="input-round form-control required email" placeholder="Enter your email address" >
                        <input type="text" class="d-none" name="form-anti-honeypot" value="">
                        <button type="submit" onclick="setTimeout(subSubmit, 1000)" class="slideOut btn btn-plane">Subscribe</button>
                        <div class="subscribe-results"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Section -->


    <!-- Start Section -->
    <div class="section footer-scetion no-pt section-pad-sm section-bg">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <ul class="social">
                        <li><a target="_blank" href="https://www.facebook.com/etxofficial" class="hclick" ><em class="fab fa-facebook"></em></a></li>
            <li><a target="_blank" href="https://github.com/electronero/electronero" class="hclick" ><em class="fab fa-github"></em></a></li>
            <li><a target="_blank" href="https://www.reddit.com/user/electronero_official/" class="hclick" ><em class="fab fa-reddit"></em></a></li>
            <li><a target="_blank" href="https://discord.gg/Msy85Uz" class="hclick" ><em class="fab fa-discord"></em></a></li>
            <li><a target="_blank" href="https://t.me/electronero" class="hclick" ><em class="fab fa-telegram"></em></a></li>
                    </ul>
                    <span class="copyright-text">
                        <p><a class="hclick" href="/legal#copyright">Copyright</a> &copy; 2018-2021, Electronero Network Project Core development team.</p>
            <p>As seen on <a class="hclick" href="https://themerkle.com/electroneum-hard-fork-electronero-combines-features-from-different-cryptonote-currencies/"><img width="30px" height="30px" src="/images/the-merkle.png" /></a> & <a href="https://www.bitcoininsider.org/article/24743/electroneum-hard-fork-electronero-combines-features-different-cryptonote-currencies"><img width="30px" height="30px" src="/images/bitcoin-insider.png" /></a></p>
                        <p><span>All trademarks and copyrights belong to their respective owners. </span></p>
            <p><a class="hclick" href="/legal">Terms & Conditions</a> || <a class="hclick" href="/legal#privacy"> Privacy Policy</a></p>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- End Section -->
    
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
      $('nav').hide();
      $("#preloader").show();
      setTimeout(() => {
          $("#preloader").hide();
        }, 5000);
      $("#header-2").hide(); // hide the fixed navbar initially
      var topofDiv = $(".ad").offset().top; //gets offset of header
      var height = $(".ad").outerHeight(); //gets height of header
      $(window).scroll(function(){
          if($(window).scrollTop() > (topofDiv + height)){
             $("nav").show();
            }
          else{
             $("nav").hide();
          }
      });
      
      // next 
        // function to generate random int inside a given range
        function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
        }
        var video = document.getElementById('background-video');
        var sources = video.getElementsByTagName('source');
        var videoUrlsMp4=["https://electronero.org/assets/video/electronero_2-20.mp4", "https://electronero.org/assets/video/electronero_3-20.mp4", "https://electronero.org/assets/video/electronero_4-20.mp4", "https://electronero.org/assets/video/electronero_5-20.mp4"];
        var random_int = getRandomInt(0, videoUrlsMp4.length-1);
        sources[0].src = videoUrlsMp4[random_int];
        video.load();
        });
    </script>
    
    <script>
    window.addEventListener('DOMContentLoaded', (event) => {
      // coins list carousel
      var $coinscarousel = $('#coins-list');
      var coins = $coinscarousel.children().length;
      var coinwidth = (coins * 300); // 140px width for each client item 
      $coinscarousel.css('width',coinwidth);
      var rotating = true;
      var coinsspeed = 0;
      var seecoins = setInterval(rotateCoins, coinsspeed);
      $(document).on({
        mouseenter: function(){
          rotating = false; // turn off rotation when hovering
        },
        mouseleave: function(){
          rotating = true;
        }
      }, '#coins');
      function rotateCoins() {
        if(rotating != false) {
          var $first = $('#coins-list li:first');
          $first.animate({ 'margin-left': '-300px' }, 3000, "linear", function() {
            $first.remove().css({ 'margin-left': '0px' });
            $('#coins-list li:last').after($first);
          });
        }
      }
    });
    </script>
    <!-- Preloader !remove please if you do not want -->
    <div id="preloader">
        <style>
            .tetrominos {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-112px, -96px);
            }
            .tetromino {
                width: 96px;
                height: 112px;
                position: absolute;
                transition: all ease 0.3s;
                background: url('data:image/svg+xml;utf-8,%3Csvg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 612 684"%3E%3Cpath fill="%23010101" d="M305.7 0L0 170.9v342.3L305.7 684 612 513.2V170.9L305.7 0z"/%3E%3Cpath fill="%23fff" d="M305.7 80.1l-233.6 131 233.6 131 234.2-131-234.2-131"/%3E%3C/svg%3E') no-repeat top center;
            }
            .box1 {
                animation: tetromino1 1.5s ease-out infinite;
            }
            .box2 {
                animation: tetromino2 1.5s ease-out infinite;
            }
            .box3 {
                animation: tetromino3 1.5s ease-out infinite;
                z-index: 2;
            }
            .box4 {
                animation: tetromino4 1.5s ease-out infinite;
            }
            @keyframes tetromino1 {
                /* compose logo */
                /* 1 on 3 */
                /* L-shape */
                0%, 40% {
                    transform: translate(0, 0);
                }
                50% {
                    /* pre-box */
                    transform: translate(48px, -27px);
                }
                60%, 100% {
                    /* box */
                    /* compose logo */
                    transform: translate(96px, 0);
                }
            }
            @keyframes tetromino2 {
                /* compose logo */
                /* 1 on 3 */
                0%, 20% {
                    transform: translate(96px, 0px);
                }
                40%, 100% {
                    /* L-shape */
                    /* box */
                    /* compose logo */
                    transform: translate(144px, 27px);
                }
            }
            @keyframes tetromino3 {
                /* compose logo */
                0% {
                    transform: translate(144px, 27px);
                }
                20%, 60% {
                    /* 1 on 3 */
                    /* L-shape */
                    /* box */
                    transform: translate(96px, 54px);
                }
                90%, 100% {
                    /* compose logo */
                    transform: translate(48px, 27px);
                }
            }
            @keyframes tetromino4 {
                /* compose logo */
                /* 1 on 3 */
                /* L-shape */
                /* box */
                0%, 60% {
                    transform: translate(48px, 27px);
                }
                90%, 100% {
                    /* compose logo */
                    transform: translate(0, 0);
                }
            }
        </style>
        <div class='tetrominos' id="loader">
            <div class="loader-section loader-top"></div>
            <div class='tetromino box1'></div>
            <div class='tetromino box2'></div>
            <div class='tetromino box3'></div>
            <div class='tetromino box4'></div>
            <div class="loader-section loader-bottom"></div>
        </div>
    </div>
    <!-- Preloader End -->
    <!-- JavaScript (include all script here) -->
    <script src="/assets/js/jquery.bundle.js?ver=113"></script>
    <script src="/assets/js/script.js?ver=121"></script>
    <!-- form validation animations -->
    <script src="/assets/js/formchecker.js"></script>

</body>
</html>
