<%# views/layout.ejs %>
<!DOCTYPE html>
<html lang="zxx" class="js">
    <script>
    if (window.location.protocol == 'http:') {
            console.log("you are accessing Electronero via "+"an insecure protocol (HTTP). "+"Redirecting you to HTTPS.");
            window.location.href = window.location.href.replace('http:', 'https:');
    } else {
            console.log("you are accessing Electronero via"+ " secure HTTPS protocol.");
        };
    </script>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Electronero Network: EI-1.0 - legacy Cryptonote. EI-2.0 - Interchained (ERC20/BEP20) Crystaleum & Electronero Smart Chain">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Electronero Network: EI-1.0 - legacy Cryptonote. EI-2.0 - Interchained (ERC20/BEP20) Crystaleum & Electronero Smart Chain">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="/public/favicon.ico">
    <!-- Site Title  -->
    <title>Electronero Network: EI-1.0 - legacy Cryptonote. EI-2.0 - Interchained (ERC20/BEP20) Crystaleum & Electronero Smart Chain</title>
    <!-- Font styles -->
    <link rel="stylesheet" href="/assets/css/font.css?ver=1990"><!-- Vendor Bundle CSS -->
    <!-- Vendor styles -->
    <link rel="stylesheet" href="/assets/css/vendor.bundle.css?v=2">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/assets/css/style.css?ver=122">
    <link rel="stylesheet" href="/assets/css/theme.css?ver=121">
    <!-- Custom styles from electronero devs -->
    <link rel="stylesheet" href="/assets/css/custom.css?v=2021">
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css?ver=115">
    <link rel="icon" type="image/png" href="/public/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/public/favicon-16x16.png" sizes="16x16" />
    <!-- FontAwesome! -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
</head>

<body class="theme-light" data-spy="scroll" data-target="#mainnav" data-offset="80">
<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT}, 'google_translate_element');
}
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <!-- Header -->
    <header class="site-header is-sticky">
    <!-- <video id="background-video" autoplay loop muted> -->
     <!-- <source src="#" type="video/mp4"> -->
    <!-- </video> -->
        <!-- Place Particle Js -->
        <div id="particles-js" class="particles-container particles-js"></div>
    <style> 
        table,
        td {
            border: 1px solid #333;
        }

        thead,
        tfoot {
            background-color: #333;
            color: #fff;
        }        
        .interchained {
                /*setting alpha = 0.1*/
                background: rgba(0, 0, 0, 0.73);
                padding: 10px;
                text-align:justify; 
            }
            
            .interchained-light {
                /*setting alpha = 0.1*/
                background: rgba(255, 255, 255, 0.4593796);
                padding: 10px;
                text-align:justify; 
                font-size: 1.2em;
                font-weight: bold;
            }
            .xsc-image {
                vertical-align: middle;
                position: relative; /* Declared position allows for location changes */
                top: 15px; /* Moves the image 2px closer to the bottom of the page */
            }
            .cx-image {
                vertical-align: middle;
                position: relative;/* Declared position allows for location changes */
                top: 35px; /* Moves the image 2px closer to the bottom of the page */
            }            
            .l-image {
                vertical-align: middle;
                position: relative; /* Declared position allows for location changes */
                top: 3px; 
            }          
            .g-image {
                vertical-align: middle;
                position: relative; /* Declared position allows for location changes */
                top: 30px; /* Moves the image 2px closer to the bottom of the page */
            }
            .main-image {
                vertical-align: middle;
                position: relative; /* Declared position allows for location changes */
                top: 20px; /* Moves the image 2px closer to the top of the page */
            }
            .t-image {
                vertical-align: middle;
                position: relative; /* Declared position allows for location changes */
                top: -6px; /* Moves the image 2px closer to the top of the page */
            }
            .nclick {
              pointer-events: none;
            }
            .nclick a.hclick{
              pointer-events: all;
            }
            .hclick{
              pointer-events: all;
            }
            /*Logo carousel*/
            #coins {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            #coins .coins-wrap {
                display: block;
                width: 95%;
                margin: 0 auto;
                overflow: hidden;
            }

            #coins .coins-wrap ul {
              font-family: 'Gotham', sans-serif;
              font-weight: bold;
                display: block;
                list-style: none;
                position: relative;
                margin-left: auto;
                margin-right: auto;
            }

            #coins .coins-wrap ul li {
              display: block;
              float: left;
              position: relative;
              width: 275px;
              height: 100px;
              line-height: 100px;
              text-align: center;
            }
            #coins .coins-wrap ul li img {
              vertical-align: middle;
              max-width: 100%;
              max-height: 100%;
              -webkit-transition: 0 linear left;
              -moz-transition: 0 linear left;
              transition: 0 linear left;
              -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
              filter: alpha(opacity=65); 
              opacity: 0.75;
            }
            #coins .etnx-coins-wrap ul li img {
              vertical-align: middle;
              max-width: 100%;
              max-height: 100%;
              -webkit-transition: 0 linear left;
              -moz-transition: 0 linear left;
              transition: 0 linear left;
              -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
              filter: alpha(opacity=55); 
              opacity: 0.65;
            }
            #coins .xsc-coins-wrap ul li img {
              vertical-align: middle;
              max-width: 100%;
              max-height: 100%;
              -webkit-transition: 0 linear left;
              -moz-transition: 0 linear left;
              transition: 0 linear left;
              -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
              filter: alpha(opacity=80); 
              opacity: 0.90;
            }
            #coins .coins-wrap ul li img:hover {
              -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
              filter: alpha(opacity=100); 
              opacity: 1.0;
            }
            
            .floating { 
                animation-name: floating;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }
            .floatingX { 
                animation-name: floating;
                animation-duration: 8s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }
            .floatingE { 
                animation-name: floating;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }
            .floatingXP { 
                animation-name: floating;
                animation-duration: 7s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }
            .floatingL { 
                animation-name: floating;
                animation-duration: 5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }
            .floatingCRFI { 
                top: 5px;
                animation-name: floating;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }
            .floatingC { 
                animation-name: floating;
                animation-duration: 4s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }
            .floatingG { 
                animation-name: floating;
                animation-duration: 6s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }
            .floatingXassets { 
                animation-name: floating;
                animation-duration: 5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }            
            @keyframes floating {
                0% { transform: translate(0,  0px); }
                50%  { transform: translate(0, 18px); }
                100%   { transform: translate(0, -0px); }   
            }
            .content-desktop {display: block;}
            .content-mobile {display: none;}
            @media screen and (max-width: 1000px) {
            .content-only-desktop {display: none;}
            .content-mobile {display: block;}
            }            
    </style>
        <!-- Navbar -->
        <div class="navbar navbar-expand-lg is-transparent interchained" id="mainnav" style="color:#fff">
            <nav class="container">
                <a class="navbar-brand" href="./">
                    <img class="logo logo-dark" alt="logo" src="/images/logo.png" srcset="/images/logo2x.png 2x">
                    <img class="logo logo-light" alt="logo" src="/images/logo-white.png" srcset="/images/logo-white2x.png 2x">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
                    <span class="navbar-toggler-icon">
                        <span class="ti ti-align-justify"></span>
                    </span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link menu-link" href="#intro">About<span class="sr-only">(current)</span></a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="#tokenSale">Genesis</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="#airdrop_swap">Claim</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="#roadmap">Roadmap</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="https://t.me/electronero">Community</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="#faq">FAQ</a></li>
            <li class="nav-item"><a class="nav-link menu-link" href="//electronero.org/docs">DOCS</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="#contact">Contact</a></li>
                    </ul>
                    <ul class="navbar-nav navbar-btns">
                        <li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" target="_blank" href="https://electronero.org/public/doc/Bulletproof%20RingCT.pdf">BulletProof RCT</a></li>
                        <li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" href="https://electronero.org/public/doc/electronero-whitepaper.pdf">Whitepaper</a></li>
                        <li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" target="_blank" href="https://github.com/electronero/electronero">Source</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End Navbar -->

    <!-- Banner/Slider ::: "add backs are stuff we took out, we could add it back later... or not" ::: var add_backs = banner; -->
    <div id="header" class="banner-full banner-curb d-flex align-items-center" style="color:#fff">
            <div class="container">
                <div class="row banner-content">
                    <div class="col-lg-3 col-md-3 col-sm-3"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 nclick network">
                        <div class="row text-center nclick content-only-desktop">
                        <div class="col-sm-4 col-md-4 col-lg-4 nclick floatingE">
                        <div>
                        <a class="hclick" href='https://electronero.org'>
                            <img width="60%" height="60%" src="/images/nero-logo.png" alt="chart">
                        </div>
                        </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4"></div>
                        <div class="col-sm-4 col-md-4 col-lg-4 floatingXP">
                        <a class="hclick" href='https://electroneropulse.org'>
                        <div>
                            <img width="60%" height="60%" src="https://electroneropulse.org/images/logo-white2x.png" alt="chart">
                        </div> 
                        </a>
                        </div>       
                        <div class="col-sm-3 col-md-3 col-lg-3 nclick">
                        </div>                               
                        <div class="col-sm-3 col-md-3 col-lg-3 nclick floatingXassets">
                            <a class="hclick" href='https://webnero.electronero.org/xassets'>
                                <div>
                                    <img width="60%" height="60%" src="https://electronero.org/assets/images/electronero-smart-chain-interchained-xETNX.svg" alt="chart">
                                </div> 
                            </a>
                            </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 nclick floatingXassets">
                            <a class="hclick" href='https://webnero.electronero.org/xassets'>
                                <div>
                                    <img width="60%" height="60%" src="https://electronero.org/assets/images/electronero-smart-chain-interchained-xETNXP.svg" alt="chart">
                                </div> 
                            </a>
                        </div>    
                        <div class="col-sm-3 col-md-3 col-lg-3 nclick">
                        </div>                           
                        <div class="col-sm-2 col-md-2 col-lg-2 nclick">
                        </div>    
                        <div class="col-sm-8 col-md-4 col-lg-8 xsc-image floatingX">
                            <a class="hclick" href='https://webnero.electronero.org'>
                                <div>
                                    <img width="100%" height="100%" src="https://electronero.org/assets/images/electronero-smart-chain-interchained-xsc.svg" alt="chart">
                                </div>
                                </a>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2 nclick">
                        </div>                                                           
                        <div class="col-sm-3 col-md-3 col-lg-3 nclick">
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 nclick floatingXassets">
                            <a class="hclick" href='https://webnero.electronero.org/xassets'>
                                <div>
                                    <img width="60%" height="60%" src="https://electronero.org/assets/images/electronero-smart-chain-interchained-xLTNX.svg" alt="chart">
                                </div> 
                            </a>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 nclick g-image floatingXassets">
                            <a class="hclick" href='https://webnero.electronero.org/xassets'>
                                <div>
                                    <img width="60%" height="60%" src="https://electronero.org/assets/images/electronero-smart-chain-interchained-xGLDX.svg" alt="chart">
                                </div> 
                            </a>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 nclick">
                        </div>  
                        <div class="col-sm-4 col-md-4 col-lg-4 l-image floatingL">
                        <a class="hclick" href='https://litenero.org'>
                        <div>
                            <img width="70%" height="70%" src="https://litenero.org/images/logo-white2x.png" alt="chart">
                        </div>
                        </a>
                        </div>                                
                        <div class="col-sm-4 col-md-4 col-lg-4 nclick cx-image floatingCRFI">
                            <a class="hclick" href='https://crystaleum.org'>
                                <div>
                                    <img width="60%" height="60%" src="https://crystaleum.org/assets/images/crystaleum-blockchain-cryptocurrency-crypto-altcoin.png" alt="chart">
                                </div> 
                            </a>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 floatingG">
                        <a class="hclick" href='https://goldnero.org'>
                        <div>
                            <img width="70%" height="70%" src="https://goldnero.org/images/logo-white2x.png" alt="chart">
                        </div>
                        </a>
                        </div>   
                      </div><!-- .row  -->  
                      <div class="row header-nav"><br>
                            <div class="col-sm-12 col-md-12 col-lg-12 nclick header-content">
                                <br>
                                <h3 style="color:#fff" class='interchained hone'>Electronero 2.0: Crystaleum & Electronero Smart Chain
                                </h3>
                                <p style="color:#000" class='hone interchained-light'>
                                    Deposit ETNX, ETNXP, LTNX, GLDX, CRFI to <a class="hclick" href="https://webnero.electronero.org/"></a>Webnero</a> to claim CRYSTAL!
                                    <br>Crystaleum main net operations started on 09/09/2019! CRFI and CRYSTAL are available to <u>Webnero</u> members, and participating exchanges for holding Electronero (EI-1.0) native coins. <br>Login to Webnero and get a swap estimate to see how much CRFI/CRYSTAL you could claim, and read full details about how the airdrop swap rates are calculated on <a href="https://electronero.org/swap"></a>Swap panel</a>. The airdrop & swap program is free for Electronero Network members to participate, join Webnero now to claim your members-only benefits.
                                    <br><br>
                                    --------------------------------
**Electronero Network: solidifies partnership with Crystaleum; "Golden Palace" Layer-2 EVM compatible private network.  
Interchained's SideChained AIO, a cross-chain protocol integrates with Web3, Webnero & Electronero Passport API.** 
_____________________________________________________
As we travel through the Interverse, and beyond Interchained... We've made it past the challenging hard forks, and we're headed towards the cross-chain bridge to success. When we get across the bridge from Electronero Network 1.0 (EI-1.0) to Electronero 2.0 (EI-2.0) we arrive at Crystaleum. This is possible through Interchained's Sidechained AIO, a multichain protocol built as a command line utility which provides functionality to operate a cross-chain bridge. When we get there we will reach the "Golden Palace" a network with Ethereum Virtual Machine compatibility built by ElectroNero for the people, and stands in operations on main net with consensus proof-of-authority. Crystaleum is a multichain protocol, interoperable with native EVM / Cryptonote maintained in parallel operation as a sidechain of Electronero Network. Deposit <a href="https://webnero.electronero.org">Electronero 1.0 assets ETNX, ETNXP, LTNX, GLDX, CRFI to Webnero</a> and prepare for the integrations & unveiling of Interchained Sidechained AIO cross-chain bridge. Public API & third-party integrations for Webnero users with exclusive early movers advantages, and immediate access to the genesis unveiling of Sidechained AIO. 

Thanks to Interchained's Sidechained AIO, an interoperable bridge based upon a simple cross-chain protocol with Web3 connectivity and compatibility with Electronero Passport API the public API of electronero network powering web services such as Webnero, Mobilenero (oh yeah a new mobile app is coming! [See previews](https://t.me/electronero)). Electronero Network holders can use the power of the "fire" to burn EI-1.0 native cryptonote (migrate from CN to EVM), and in return will get blessed with gifts of CRYSTAL on Crystaleum native Ethereum Virtual Machine compatible sidechain. Likewise, Electronero Network 2.0, or Crystaleum native holders can embrace the power of "water" to flood EI-2.0 native EVM (migrate from EVM to CN) and during the flood EI-2.0 drains Crystaleum native EVM back into Electronero Network Cryptonote. xAssets can cross the SideChained bridge to utilize Electronero 1.0 or Electronero 2.0 as needed. All of Electronero Network blockchains, sidechains, layer-1 and layer-2 remain in safe parallel operations. Interchained's SideChained AIO connects the multi-chain as an interoperable cross-chain protocol.

Join https://t.me/crystaleum, and deposit Electronero Network native cryptonote (EI-1.0) to Webnero at https://webnero.electronero.org

--------------------------------
 **Electronero Network centralized exchange listings (that we know of)**: 
_____________________________________________________
https://TradeOgre.com (lowest rates to buy for ETNX & ETNXP)
https://Vindax.com
https://Bitexlive.com
https://Finexbox.com (*wallet in maintenance, will support swap Electronero 2.0 and "Crystaleum")
https://Indoex.io (*wallet in maintenance, will support listing Electronero 2.0 aka "Crystaleum")

**Term:                                   Meaning:**
**- "EI-1.0"**                          "Electronero 1.0 / Electronero Network native cryptonote coins"
**- "EI-2.0"**                          "Electronero 2.0 / Electronero Network native EVM coins"
**- "xAssets"**                       "xAssets are 'Electronero R&D experiments' consisting of alt-electronero, and/or DeFi strategies deployed to EVM compatible chains. Research & development, or maintenance, and support is limited to funding availability which varies depending on scope of work, topics of research, and development, profitability of the underlying strategy. Due to rapid development, limited community funding, and community interests among a variety of factors Electronero xAssets are subject to change without warning. Please exercise caution, and research the underlying cryptoasset before making any decisions. Remember, it is always a smart idea to read the smart contracts in full and request an audit on any DeFi project before entering or trading a crypto. Cryptocurrency is highly volatile, and it's not for everyone. Please be safe."
**- "Crystaleum"**                 "Layer-1 cryptonote native blockchain launched several years ago as a result of partnership with Electronero Network. Genesis block of Crystaleum from ETN, up to block 500k where a chain split of sidechain Goldnero, combined with the blockchain raw of Litenero, which inherits blocks from parent chain Electroneum, and makes use of the Monero source code base which follows privacy-centric cryptonote protocols. Crystaleum has been Interchained with an L2 compatible with the Ethereum Virtual Machine."
**- "CRFI"**                            "Crystaleum Layer-1 cryptonote blockchain"
**- "Golden Palace"**            "Crystaleum Layer-2 EVM sidechain, network 1 chain ID 103090"
**- "(LP)"**                             "Generally 2 crypto-assets, could be more in complex DeFi strategies, are added in equal amounts of each cryptocurrency to form a single pair which will generate a certain amount of LP for owner. The amount of LP minted to _msgSender() is relevant to amount of the supply owned by the holder. How much of each asset the holder can withdraw varies based on quantity of cryptoassets[A], and cryptoassets[B]. LP is decentralized, adjusted autonomously, and synchronized on-chain during each transaction interacting with a particular pool."
**- "Yield Farming"**             "Yield farming is the DeFi strategy which involves staking crypto liquidity pairs. In order to generate yields from the farm, otherwise known as harvests or rewards which are processed generally in the form of additional cryptocurrency of another or the same project. Usually LP is required to stake at a yield farm which would reward another cryptoasset with each block that passes."
**- "Masterchef"**                 "A MasterChef is a smart contract that controls what a yield farm, and/or staking pool can do, and how."
**- "Sidechained AIO"**        "Interchained's all-in-one. SideChained is a NodeJS based portable, interoperable, "cross-chain" ledger utlility which enables simultaneous or exclusive transaction support for ERC20/BEP20/COINS. Sidechain Web3 Support for 0x (BSC/ETH) && native support for Cryptonote out of the box. SideChained is based on a combination of two main components. SideChained open source package, and Electronero Passport, a Private API on server interacting with wallets."

Check out some of Electronero community research, and development projects. Have an idea? Contact us on Telegram for help starting your project https://t.me/cryptocurrencydevs. We're working on some interesting contracts for Electronero Network 2.0 including "xAssets" DeFi strategies and decentralized exchange listings. Track smart contracts through verified sources such as Etherscan, Polygonscan, BSCScan, or trustless charting utilities such as Bogged Finance, Dextools. Liquidity pools are popping up all the time on decentralized exchanges such as [Interswap.finance](https://Interswap.finance), [Pancakeswap.finance](https://Pancakeswap.finance) on Binance Smart Chain, and [DoDoEx.io](https://DoDoEx.io) on Binance Smart Chain. For Polygon deployments we like [QuickSwap.exchange](https://QuickSwap.exchange)

--------------------------------
 **Electronero Network "xAssets" official list**: 
_____________________________________________________

**Wrapped xMatic [WxMATIC]**: Community members along with Interchained upgraded the Wrapped BNB contract to 0.8.5 solidity, and deployed to Polygon mainnet. This experiment brought valuable resources in knowledge of understanding of wrapping native coins to tokens and vice-versa. This experience was amazing and brought us great results in our research. The WxMATIC public contract is on Polygon and it's a clone of WBNB, updated to solidity 0.8.5.
Contract: https://polygonscan.com/token/0xfad504ce36a7a5ce50fbab4b2be673cb517a1b1d

**Interswap**: [Interswap.finance](https://interswap.finance) a yield farm, and convenient decentralized exchange on Binance Smart Chain with liquidity powered by Pancakeswap.finance. This rewards project is a fun way to learn about DeFi and start earning rewards on the Binance Smart Chain. It taught us how liquidity pairs function, and proved decentralized finance could be very useful. The underlying core is mostly a fork of PancakeSwap, with higher rewards per block. PancakeSwap itself was a fork of Uniswap.
"Masterchef" Contract: https://bscscan.com/token/0xbc33c8ad9756b669f5abfe6ce9b9cb132c3aff47

**XSC**:  a yield farming rewards DeFi protocol is deployed on Binance Smart Chain
Chart: https://charts.bogged.finance/?c=bsc&t=0x7155aff27df20f9b0ecf8406a5a60c30043894ec
Contract: https://bscscan.com/token/0x7155aff27df20f9b0ecf8406a5a60c30043894ec

**CRYSTAL**: a yield farming rewards DeFi protocol is deployed on Binance Smart Chain 
Chart: https://charts.bogged.finance/?c=bsc&t=0x4ca6b6b8f10eb17dbd1f8c3f313eca2f779c6e0b
Contract: https://bscscan.com/token/0x4ca6b6b8f10eb17dbd1f8c3f313eca2f779c6e0b

--------------------------------
Electronero Network Releases
_____________________________________________________
Electronero [ETNX] release "Electric Desert" version 12.5.7
To restore ETNX compile release branches and synchronize the blockchain. 
ETNX Oracle release branch ETNX release branch https://github.com/electronero-project/electronero/releases/tag/12.5.7
ETNX official Github https://github.com/electronero-project/electronero/

Electronero Pulse [ETNXP] release "Yellow Bricks" version 12.4.1 
To restore ETNXP compile release branches and synchronize the blockchain. 
ETNXP Oracle release branch ETNXP release branch https://github.com/electronero-pulse/electroneropulse/releases/tag/12.4.1
ETNXP official Github https://github.com/electronero-pulse/electroneropulse/

Litenero [LTNX]
To restore LTNX compile release branches and synchronize the blockchain. 
LTNX Oracle release branch LTNX release branch https://github.com/litenero/litenero/releases/tag/1.0.3
LTNX official Github https://github.com/litenero/litenero/

Goldnero [GLDX]
To restore GLDX compile release branches and synchronize the blockchain. 
GLDX Oracle release branch GLDX release branch https://github.com/goldnero/goldnero/releases/tag/1.0.2
GLDX official Github https://github.com/goldnero/goldnero/

Crystaleum [CRFI]
To restore CRFI compile release branches and synchronize the blockchain. 
CRFI Oracle release branch CRFI release branch https://github.com/crystaleum/crystaleum/releases/tag/1.1
CRFI official Github https://github.com/crystaleum/crystaleum/
 
We have issued a blockchain.raw to assist in synchronization for pools and those running local nodes.

  All claims, content, designs, algorithms, estimates, roadmaps, specifications, terms, concepts, and performance measurements described in this project are done with good faith efforts. Contributors do their best to keep information accurate, and up to date. As an open source community project we are limited with resources, and therefore the information is expected to be accurate during the timeline produced. However we do not take responsibility to maintain it's accuracy. It is up to the reader to check, and validate the information for accuracy. Furthermore, nothing in this project constitutes a solicitation for investment. 

Limited technical support is available on Telegram.
ETNX: https://t.me/etnxsupport
ETNXP: https://t.me/etnxpsupport

  Any content produced by Electronero Network or developer resources that Electronero provides are for educational and inspirational purposes only. Electronero Network does not encourage, induce or sanction the deployment, integration or use of any such applications (including the code comprising the Electronero and/or Crystaleum blockchain protocol) in violation of applicable laws or regulations and hereby prohibits any such deployment, integration or use.

Thank you for your support. 
⚡️Electronero core

________________________________
______________________________________________

COMMUNITY
______________________________________________
Join us on Telegram 
Electronero: (Board Room) https://t.me/electronero (chat) https://t.me/electronero_network
Electronero Pulse: https://t.me/etnxp
Litenero: https://t.me/litenero
Goldnero: https://t.me/goldnero
Crystaleum: https://t.me/crystaleum
______________________________________________
______________________________________________

Webnero - ETNX ETNXP LTNX GLDX CRFI
ONLINE: https://webnero.electronero.org
__________________________________________
-----------------
STARTUP
__________________________________________
Electronero - electronerod:
```./electronerod --block-sync-size 100 --fast-block-sync 1 --seed-node 161.97.121.104:14080 --seed-node 161.97.121.84:14080 --seed-node 161.97.121.89:14080 --add-priority-node 161.97.121.104:14080 --add-priority-node 161.97.121.84:14080 --add-priority-node 161.97.121.89:14080```

Electronero Pulse- pulsed:
```./pulsed --block-sync-size 100 --fast-block-sync 1 --seed-node 161.97.121.104:20389 --seed-node 161.97.121.84:20389 --seed-node 161.97.121.89:20389 --add-priority-node 161.97.121.104:20389 --add-priority-node 161.97.121.84:20389 --add-priority-node 161.97.121.89:20389```

Litenero- litenerod:
```./litenerod --block-sync-size 100 --fast-block-sync 1 --seed-node 161.97.121.104:18390 --seed-node 161.97.121.84:18390 --seed-node 161.97.121.89:18390 --add-priority-node 161.97.121.104:18390 --add-priority-node 161.97.121.84:18390 --add-priority-node 161.97.121.89:18390```

Goldnero- goldnerod:
```./goldnerod --block-sync-size 100 --fast-block-sync 1 --seed-node 161.97.121.104:19421 --seed-node 161.97.121.84:19421 --seed-node 161.97.121.89:19421 --add-priority-node 161.97.121.104:19421 --add-priority-node 161.97.121.84:19421 --add-priority-node 161.97.121.89:19421```

Crystaleum- crystaleumd:
```./crystaleumd --block-sync-size 100 --fast-block-sync 1 --seed-node 161.97.121.104:11015 --seed-node 161.97.121.84:11015 --seed-node 161.97.121.89:11015 --add-priority-node 161.97.121.104:11015 --add-priority-node 161.97.121.84:11015 --add-priority-node 161.97.121.89:11015```

__________________________________________
BLOCKCHAIN
__________________________________________
ETNX electronero 
blockchain.raw : https://release.electronero.org/electronero/0513/blockchain.raw
```./electronero-blockchain-import --batch-size 20000 --database lmdb#fastest --guard-against-pwnage 0```

ETNXP electronero pulse 
blockchain.raw : https://release.electronero.org/electroneropulse/0517/blockchain.raw
```./pulse-blockchain-import --batch-size 20000 --database lmdb#fastest --guard-against-pwnage 0```

LTNX litenero
blockchain.raw : 
```./litenero-blockchain-import --batch-size 20000 --database lmdb#fastest --guard-against-pwnage 0```

GLDX goldnero
blockchain.raw : 
```./goldnero-blockchain-import --batch-size 20000 --database lmdb#fastest --guard-against-pwnage 0```

CRFI crystaleum
blockchain.raw : 
```./crystaleum-blockchain-import --batch-size 20000 --database lmdb#fastest --guard-against-pwnage 0```
                                </p>
                                <div class="countdown-box text-center interchained"><h2 style="color:#fefefe" align="center">Crystaleum</h2>
                                    <div class="token-countdown d-flex align-content-stretch" data-date="09/09/2019"></div> <!-- .col -->
                                 
                                <ul class="social" align="center">
                                    <li><a class="hclick" target="_blank" href="https://t.me/electronero"><em class="fab fa-telegram"></em></a></li>
                                    <li><a class="hclick" target="_blank" href="https://twitter.com/_electronero"><em class="fab fa-twitter"></em></a></li>
                                    <li><a class="hclick" target="_blank" href="https://instagram.com/electronero"><em class="fab fa-instagram"></em></a></li>
                                    <li><a class="hclick" target="_blank" href="https://github.com/electronero"><em class="fab fa-github"></em></a></li>
                                    <li><a class="hclick" target="_blank" href="https://www.reddit.com/r/Electronero_official"><em class="fab fa-reddit"></em></a></li>
                                    <li><a class="hclick" target="_blank" href="https://discord.gg/Msy85Uz"><em class="fab fa-discord"></em></a></li>
                                </ul>
                            </div>
                                <p style="color:#000" class='hone interchained-light'><a class="hclick" href="https://t.me/etnxnews">Read Latest Electronero Network News on Telegram <i class="fab fa-telegram"></i></a></i></p>
                                <p style="color:#000" class='hone interchained-light'>As seen on <a class="hclick" href="https://themerkle.com/electroneum-hard-fork-electronero-combines-features-from-different-cryptonote-currencies/"><img width="30px" height="30px" src="/images/the-merkle.png" /></a> & <a href="https://www.bitcoininsider.org/article/24743/electroneum-hard-fork-electronero-combines-features-different-cryptonote-currencies"><img width="30px" height="30px" src="/images/bitcoin-insider.png" /></a>
                                </p>
                             <div class="row header-wallet"><br>
                                <div class="col-md-2 col-sm-2 col-lg-2"></div><br>
                                <div class="col-md-8 col-sm-8 col-lg-8 interchained"><h2 style="color:#fefefe" align="center">Webnero</h2><br></div>
                                <div class="col-md-2 col-sm-2 col-lg-2"></div><br>
                                <div class="row"><br>                                
                                <div align="center" class="col-md-5 col-sm-5 col-lg-5">
                                    <ul class="navbar-nav">
                                        <li class=""><a class="hclick btn btn-sm btn-outline" target="_blank" href="https://webnero.electronero.org/login.html">Connect</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-2 col-sm-2 col-lg-2"></div>
                                <div align="center" class="col-md-5 col-sm-5 col-lg-5">
                                    <ul class="">
                                        <li class=""><a class="hclick btn btn-sm btn-outline" href="https://webnero.electronero.org/register.html">Create</a></li>
                                    </ul>
                                </div>
                                <div align="center" class="col-md-3 col-sm-3 col-lg-3"></div>
                                <div align="center" class="col-md-6 col-sm-6 col-lg-6"><br><br>
                                    <ul class="">
                                        <li class=""><a class="hclick btn btn-sm btn-outline" target="_blank" href="https://webnero.electronero.org/reset.html">Recover</a></li>
                                    </ul><br>
                                </div>                                
                                <div align="center" class="col-md-3 col-sm-3 col-lg-3"><br></div>
                                <div align="center" class="col-md-2 col-sm-2 col-lg-2"><br></div>
                                <div align="center" class="col-md-8 col-sm-8 col-lg-8">
                                <p style="color:#000" class='hone interchained-light'>Deploy ERC-20 Tokens, Smart Contracts, Stake legacy Electronero, <a class="hclick" href="https://electroneum.org">Electroneum</a>, <a href="https://getmonero.org">Monero</a>, and affiliate Cryptonote coins or Crystaleum CRYSTAL, Electronero Smart Chain XSC and all "xAsset" tokens! Add Liquidity to Pools on <a href="https://apewwap.finance">ApeSwap</a>, <a href="https://pancakeswap.finance">Pancakeswap</a>, <a href="https://app.uniswap.org">Uniswap</a>. Yield Farming featuring legacy Electronero, Electroneum, Monero, affiliate Cryptonote, EI-2.0 ERC-20 tokens, Ethereum/Polygon ERC-20, Binance-Smart-Chain BEP-20, and Aquachain tokens. Polygon/Tron token intergrations in development. Get involved with Electronero 2.0: Interchained!
                                </p></div>
                                <div align="center" class="col-md-2 col-sm-2 col-lg-2"></div>
                                </div>                
                                
                        </div> <!-- .header-wallet -->
                      </div> <!-- .header-content -->
                    </div> <!-- .header-nav -->
                </div> <!-- .network -->
                    <div class="row">
                    </br>
                    <div class="col-lg-6 col-md-6 col-sm-6 countdown-header count-down">
                                                                
                    </div> <!-- .count-down -->
                    <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                        <!-- side header top right -->
                    </div>
                    </div>
                </div> <!-- .banner-content  -->
                <div class="col-sm-3 col-md-3 col-lg-3"></div>
            </div> <!-- .container  -->
        </div> <!-- End Banner/Slider -->
</header>
<!-- End Header -->
        <div class="container">
            <%- content %>
        </div><!-- /.container -->

    <!-- Start Section -->
    <div class="section section-pad section-bg-alt" id="contact">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <div class="section-head">
                        <h2 class="section-title">Contact Electronero Core
                        </h2>
                        <p>Any question? Reach out via email <a class="hclick" href="mailto:support@electronero.org">support@electronero.org</a>, and we’ll get a reply to you. Tweet @_electronero, or join @electronero on Telegram!!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2" align="center">
                    <ul class="contact-info" align="center">
                        <li><em class="fab fa-twitter"></em><a class="hclick" href="https://twitter.com/_electronero"><span>Tweet @_electenero</span></a></li>
                        <li><em class="fa fa-envelope"></em><a class="hclick" href="mailto:support@electronero.org"><span>Send Electronero an Email</span></a></li>
                        <li><em class="fab fa-telegram"></em><a class="hclick" href="https://t.me/electronero"><span>Join Electronero on Telegram</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <form id="contact-form" class="form-message text-center" action="contact/send" method="post">
                        <div class="form-results"></div>
                        <div class="input-field">
                            <input name="name" type="text" class="input-line form-control required">
                            <label for="name" class="input-title">Your Name</label>
                        </div>
                        <div class="input-field">
                            <input name="email" type="email" class="input-line form-control required email">
                            <label for="email" class="input-title">Your Email</label>
                        </div>
                        <div class="input-field">
                            <textarea name="message" type="text" class="txtarea input-line required"></textarea>
                            <label for="message" class="input-title">Your Message</label>
                        </div>
                        <input type="text" class="d-none" name="form-anti-honeypot" value="">
                        <div class="input-field">
                            <button type="submit" onclick="setTimeout(formSubmit, 1000)" class="slideOut btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Section -->


    <!-- Start Section -->
    <div class="section subscribe-section section-pad-md section-bg section-connect">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 offset-md-3">
                    <h4 class="section-title-md">Don't miss out! <a class="hclick" href="https://t.me/etnxnews">Get Signals on Telegram</a></h4>
                    <form id="subscribe-form" action="contact/subscribe" method="post" class="subscription-form inline-form">
                        <input type="email" name="email" class="input-round form-control required email" placeholder="Enter your email address" >
                        <input type="text" class="d-none" name="form-anti-honeypot" value="">
                        <button type="submit" onclick="setTimeout(subSubmit, 1000)" class="slideOut btn btn-plane">Subscribe</button>
                        <div class="subscribe-results"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Section -->


    <!-- Start Section -->
    <div class="section footer-scetion no-pt section-pad-sm section-bg">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <ul class="social">
                        <li><a target="_blank" href="https://www.facebook.com/etxofficial" class="hclick" ><em class="fab fa-facebook"></em></a></li>
            <li><a target="_blank" href="https://github.com/electronero/electronero" class="hclick" ><em class="fab fa-github"></em></a></li>
            <li><a target="_blank" href="https://www.reddit.com/user/electronero_official/" class="hclick" ><em class="fab fa-reddit"></em></a></li>
            <li><a target="_blank" href="https://discord.gg/Msy85Uz" class="hclick" ><em class="fab fa-discord"></em></a></li>
            <li><a target="_blank" href="https://t.me/electronero" class="hclick" ><em class="fab fa-telegram"></em></a></li>
                    </ul>
                    <span class="copyright-text">
                        <p><a class="hclick" href="/legal#copyright">Copyright</a> &copy; 2018-2021, Electronero Network Project Core development team.</p>
            <p>As seen on <a class="hclick" href="https://themerkle.com/electroneum-hard-fork-electronero-combines-features-from-different-cryptonote-currencies/"><img width="30px" height="30px" src="/images/the-merkle.png" /></a> & <a href="https://www.bitcoininsider.org/article/24743/electroneum-hard-fork-electronero-combines-features-different-cryptonote-currencies"><img width="30px" height="30px" src="/images/bitcoin-insider.png" /></a></p>
                        <p><span>All trademarks and copyrights belong to their respective owners. </span></p>
            <p><a class="hclick" href="/legal">Terms & Conditions</a> || <a class="hclick" href="/legal#privacy"> Privacy Policy</a></p>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- End Section -->
    
    <script>
     window.addEventListener('DOMContentLoaded', (event) => {
          $('nav').hide();
          $("#preloader").show();
          setTimeout(() => {
              $("#preloader").hide();
            }, 5000);
          $("#header-2").hide(); // hide the fixed navbar initially
          var topofDiv = $(".ad").offset().top; //gets offset of header
          var height = $(".ad").outerHeight(); //gets height of header
          $(window).scroll(function(){
              if($(window).scrollTop() > (topofDiv + height)){
                 $("nav").show();
                }
              else{
                 $("nav").hide();
              }
          });
      });
        // next 
        // function to generate random int inside a given range
        // function getRandomInt(min, max) {
        // return Math.floor(Math.random() * (max - min + 1)) + min;
        // }
        // var video = document.getElementById('background-video');
        // var sources = video.getElementsByTagName('source');
        // var videoUrlsMp4=["https://electronero.org/assets/video/electronero_2-20.mp4", "https://electronero.org/assets/video/electronero_3-20.mp4", "https://electronero.org/assets/video/electronero_4-20.mp4", "https://electronero.org/assets/video/electronero_5-20.mp4"];
        // var random_int = getRandomInt(0, videoUrlsMp4.length-1);
        // sources[0].src = videoUrlsMp4[random_int];
        // video.load();
        
    </script>
    
    <script>
    window.addEventListener('DOMContentLoaded', (event) => {
      // coins list carousel
      var $coinscarousel = $('#coins-list');
      var coins = $coinscarousel.children().length;
      var coinwidth = (coins * 300); // 140px width for each client item 
      $coinscarousel.css('width',coinwidth);
      var rotating = true;
      var coinsspeed = 0;
      var seecoins = setInterval(rotateCoins, coinsspeed);
      $(document).on({
        mouseenter: function(){
          rotating = false; // turn off rotation when hovering
        },
        mouseleave: function(){
          rotating = true;
        }
      }, '#coins');
      function rotateCoins() {
        if(rotating != false) {
          var $first = $('#coins-list li:first');
          $first.animate({ 'margin-left': '-300px' }, 3000, "linear", function() {
            $first.remove().css({ 'margin-left': '0px' });
            $('#coins-list li:last').after($first);
          });
        }
      }
    });
    </script>
    <!-- Preloader !remove please if you do not want -->
    <div id="preloader">
        <style>
            .tetrominos {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-112px, -96px);
            }
            .tetromino {
                width: 96px;
                height: 112px;
                position: absolute;
                transition: all ease 0.3s;
                background: url('data:image/svg+xml;utf-8,%3Csvg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 612 684"%3E%3Cpath fill="%23010101" d="M305.7 0L0 170.9v342.3L305.7 684 612 513.2V170.9L305.7 0z"/%3E%3Cpath fill="%23fff" d="M305.7 80.1l-233.6 131 233.6 131 234.2-131-234.2-131"/%3E%3C/svg%3E') no-repeat top center;
            }
            .box1 {
                animation: tetromino1 1.5s ease-out infinite;
            }
            .box2 {
                animation: tetromino2 1.5s ease-out infinite;
            }
            .box3 {
                animation: tetromino3 1.5s ease-out infinite;
                z-index: 2;
            }
            .box4 {
                animation: tetromino4 1.5s ease-out infinite;
            }
            @keyframes tetromino1 {
                /* compose logo */
                /* 1 on 3 */
                /* L-shape */
                0%, 40% {
                    transform: translate(0, 0);
                }
                50% {
                    /* pre-box */
                    transform: translate(48px, -27px);
                }
                60%, 100% {
                    /* box */
                    /* compose logo */
                    transform: translate(96px, 0);
                }
            }
            @keyframes tetromino2 {
                /* compose logo */
                /* 1 on 3 */
                0%, 20% {
                    transform: translate(96px, 0px);
                }
                40%, 100% {
                    /* L-shape */
                    /* box */
                    /* compose logo */
                    transform: translate(144px, 27px);
                }
            }
            @keyframes tetromino3 {
                /* compose logo */
                0% {
                    transform: translate(144px, 27px);
                }
                20%, 60% {
                    /* 1 on 3 */
                    /* L-shape */
                    /* box */
                    transform: translate(96px, 54px);
                }
                90%, 100% {
                    /* compose logo */
                    transform: translate(48px, 27px);
                }
            }
            @keyframes tetromino4 {
                /* compose logo */
                /* 1 on 3 */
                /* L-shape */
                /* box */
                0%, 60% {
                    transform: translate(48px, 27px);
                }
                90%, 100% {
                    /* compose logo */
                    transform: translate(0, 0);
                }
            }
        </style>
        <div class='tetrominos' id="loader">
            <div class="loader-section loader-top"></div>
            <div class='tetromino box1'></div>
            <div class='tetromino box2'></div>
            <div class='tetromino box3'></div>
            <div class='tetromino box4'></div>
            <div class="loader-section loader-bottom"></div>
        </div>
    </div>
    <!-- Preloader End -->
    <!-- JavaScript (include all script here) -->
    <script src="/assets/js/jquery.bundle.js?ver=113"></script>
    <script src="/assets/js/script.js?ver=121"></script>
    <!-- form validation animations -->
    <script src="/assets/js/formchecker.js"></script>

</body>
</html>
