code {
    white-space: pre-wrap;
    background-color: #fff1e8;
    color: #2f6f9f;
    padding: 0.2rem;
    margin: 0 0.2rem;
    border-radius: 0.2rem;
    text-indent: 0;
    line-height: 1.1rem;
}

pre.highlight {
    background-color: #fff1e8;
    color: #2f6f9f;
    padding: 0.7rem;
    border-radius: 0.2rem;
    text-indent: -6px;
}

pre.highlight>code {
    background-color: none;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: yellow; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #dbef02; 
}



/* video background */
#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* page content */
h1, h2 {
  color: white;
  font-family: Trebuchet MS;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 6rem;
  margin-top: 30vh; 
}

h2 { font-size: 3rem; }

@media (max-width: 750px) {
    #background-video { display: none; }
    body {
      background: url("https://electronero.org/assets/images/electronero-preview.jpg") no-repeat;
      background-size: cover;
    }
}


/** 04.07 Features */
.feature { margin-bottom: 30px; display: block; }

.feature-download { margin-bottom: 0; }

.feature.card { height: calc(100% - 30px); }

.feature-group .feature { margin-bottom: 0; }

.feature-group { border-radius: 6px; }

.feature-icon { position: relative; width: 60px; margin-bottom: 15px; flex-shrink: 0; margin-right: 12px; }

.feature-icon-md { width: 40px; }

.feature-icon-md-s2 { width: 80px; }

.feature-icon-xl { width: 120px; }

.feature-icon.dot:before { position: absolute; bottom: 0; right: 0; content: ''; height: 30px; width: 30px; border-radius: 50%; background: rgba(134, 107, 254, 0.5); z-index: 4; }

.tc-light .feature-icon .icon { color: #866bfe; }

.feature-icon .icon { position: relative; font-size: 3.75rem; color: #6e19c2; z-index: 5; margin-left: -5px; }

.feature-icon .icon.icon-circle { margin-left: 0; }

.feature-icon .icon-xs { font-size: 1rem; }

.feature-icon .icon-md { font-size: 2.75rem; }

.feature-icon .icon-rg { font-size: 4.35rem; }

.feature-icon .icon-lg { font-size: 5.75rem; }

.feature-icon .icon-lg-s2 { font-size: 5rem; padding-top: 15px; }

.feature-icon .icon-xl { font-size: 9rem; }

.feature-icon .icon-grd { background-image: linear-gradient(-75deg, #a158e9 0%, #6e19c2 60%, #3c1c94 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }

.feature-icon .icon-circle { position: relative; height: 36px; width: 36px; line-height: 36px; text-align: center; color: #2bc9b4; border-radius: 50%; background-image: linear-gradient(-45deg, #866bfe 0%, #2bc9b4 80%, #2bc9b4 100%); }

.feature-icon .icon-circle:after { position: absolute; top: 2px; left: 2px; bottom: 2px; right: 2px; content: ''; border-radius: 50%; background: #fff; z-index: -1; }

.bg-theme .feature-icon .icon-circle:after { background: #3c1c94; }

.bg-theme-alt .feature-icon .icon-circle:after { background: #6e19c2; }

.bg-theme-dark .feature-icon .icon-circle:after { background: #180747; }

.bg-theme-dark-alt .feature-icon .icon-circle:after { background: #2e186a; }

.feature-icon-s1 { text-align: center; margin-left: 10px; margin-bottom: 40px; }

.feature-icon-s1:after { position: absolute; content: ""; left: 50%; top: 50%; width: 62px; height: 62px; border: 2px solid rgba(110, 25, 194, 0.1); transform: translate(-50%, -50%) rotate(45deg); border-radius: 8px; }

.tc-light .feature-icon-s1:after { border: 2px solid rgba(110, 25, 194, 0.8); }

.feature-icon-s1 .icon { margin-left: 0; line-height: 48px; }

.feature-icon-s5 { width: 60px; height: 60px; text-align: center; line-height: 63px; border-radius: 50%; margin-bottom: 0; }

.feature-icon-s5 .icon { font-size: 1rem; width: 40px; height: 40px; background: #fff; line-height: 40px; border-radius: 50%; text-align: center; border: 1px solid; border-color: currentColor; margin-left: 0; }

.tc-light .feature-icon-s5 .icon { border-width: 0; }

.feature-icon-s5-1 { background: rgba(110, 25, 194, 0.1); }

.tc-light .feature-icon-s5-1 { background: rgba(110, 25, 194, 0.6); }

.feature-icon-s5-1 .icon { color: #6e19c2; background: linear-gradient(-90deg, #fff 0%, #e5d2f9 100%); }

.tc-light .feature-icon-s5-1 .icon { color: #6e19c2; }

.feature-icon-s5-2 { background: rgba(43, 201, 180, 0.1); }

.tc-light .feature-icon-s5-2 { background: rgba(43, 201, 180, 0.4); }

.feature-icon-s5-2 .icon { color: #2bc9b4; background: linear-gradient(-90deg, #fff 0%, #e1f9f5 100%); }

.tc-light .feature-icon-s5-2 .icon { color: #2bc9b4; }

.feature-icon-s5-3 { background: rgba(134, 107, 254, 0.1); }

.tc-light .feature-icon-s5-3 { background: rgba(134, 107, 254, 0.4); }

.feature-icon-s5-3 .icon { color: #866bfe; background: linear-gradient(-90deg, #fff 0%, #eeeaff 100%); }

.tc-light .feature-icon-s5-3 .icon { color: #866bfe; }

.feature-icon-s5-4 { background: rgba(230, 96, 74, 0.1); }

.tc-light .feature-icon-s5-4 { background: rgba(230, 96, 74, 0.4); }

.feature-icon-s5-4 .icon { color: #e97460; background: linear-gradient(-90deg, #fff 0%, #fceeeb 100%); }

.tc-light .feature-icon-s5-4 .icon { color: #e97460; }

.feature-icon-s6 { width: 60px; height: 60px; border-radius: 50%; background: linear-gradient(to right, #866bfe 0%, #2bc9b4 100%); text-align: center; line-height: 60px; }

.feature-icon-s6 .icon { font-size: 40px; color: #fff; opacity: 0.8; line-height: 60px; margin-left: 0; }

.tc-light .feature-icon-s6 .icon { color: #fff; }

.feature-icon-s6-bg { width: 60px; height: 60px; border-radius: 50%; background: rgba(134, 107, 254, 0.2); text-align: center; line-height: 60px; }

.feature-icon-s6-bg .icon { font-size: 40px; color: #866bfe; line-height: 60px; margin: 0 auto; }

.feature-icon-s7 { width: 65px; height: 65px; border-radius: 50%; text-align: center; line-height: 65px; background: #866bfe; }

.feature-icon-s7 .icon { font-size: 30px; margin-left: 0; line-height: inherit; color: #fff; }

.tc-light .feature-icon-s7 .icon { color: #fff; }

.feature-icon-s8 { width: 90%; }

.text-center .feature-icon-s8 { margin-left: auto; margin-right: auto; }

.feature-icon-auto { width: auto; }

.feature-icon-lg { width: 160px; margin-top: -15px; margin-bottom: 5px !important; }

.feature-icon-lg-s1 { width: 110px; margin-top: -10px; margin-bottom: 5px !important; }

.feature-icon-lg-s2 { width: 130px; margin-top: -12px; margin-bottom: 5px !important; }

.feature-icon-lg-s3 { width: 95px; margin-top: -8px; margin-bottom: 20px !important; }

.feature-icon-lg + .feature-text-s8 { padding-top: 25px; }

.feature-icon-sm { width: 60px; }

.feature-icon-bg { margin: 0; position: absolute; right: -15px; bottom: -15px; width: 121px; height: 121px; margin: 0; background: rgba(134, 107, 254, 0.15); border-radius: 50%; box-shadow: 0px 0px 0px 10px rgba(134, 107, 254, 0.06); text-align: center; line-height: 104px; }

.feature-icon-bg img { max-width: 60px; }

.feature-icon-bg-grd { background-position: center center; background-size: contain; min-height: 135px; min-width: 230px; text-align: center; display: flex; align-items: center; justify-content: center; }

.feature-icon-bg-grd-s1 { background-image: url(../../images/icons/icon-bg-a.png); }

.feature-icon-bg-grd-s1 .icon-grd { background-image: linear-gradient(to top, #82ffdd 0%, white 70%); }

.feature-icon-bg-grd-s2 { background-image: url(../../images/icons/icon-bg-a2.png); }

.feature-icon-bg-grd-s2 .icon-grd { background-image: linear-gradient(to top, #82ffdd 0%, white 70%); }

.feature-icon-bg-grd-s3 { background-image: url(../../images/icons/icon-bg-a3.png); }

.feature-icon-bg-grd-s3 .icon-grd { background-image: linear-gradient(to top, #82ffdd 0%, white 70%); }

.feature-inline { display: flex; }

.feature-inline.card { flex-direction: row; }

.feature-middle { align-items: center; }

.feature-middle .feature-icon { margin-bottom: 0; margin-right: 15px; display: inline-flex; align-items: center; }

.feature-img { border-radius: 4px; }

.feature-image { padding-bottom: 15px; }

.feature-image img { height: 55px; width: auto !important; }

.feature-center .feature-image img { margin-left: auto; margin-right: auto; }

.feature-text p:last-child { margin-bottom: 0; }

.feature-text-s8 .title-s5 { margin-bottom: 20px; }

.feature-text-s1 .title-xs-alt { color: #5b53a2; line-height: 1.4; display: inline-block; }

.feature-center { text-align: center; }

.feature-center .feature-icon { margin-left: auto; margin-right: auto; }

.feature-center .feature-icon .icon { margin-left: 0; }

.feature-s1 { display: flex; margin-bottom: 0; align-items: center; padding-right: 20px; }

.feature-s1.boxed { height: 100%; border-radius: 4px; }

.feature-s1.bordered { border: 2px solid rgba(110, 25, 194, 0.2); }

.feature-s1-1.bordered { border-color: rgba(110, 25, 194, 0.2); }

.feature-s1-2.bordered { border-color: rgba(43, 201, 180, 0.2); }

.feature-s1-3.bordered { border-color: rgba(134, 107, 254, 0.2); }

.feature-s1-4.bordered { border-color: rgba(230, 96, 74, 0.2); }

.feature-s3 { margin-bottom: 0; }

.feature-s3.card { padding: 30px 30px 40px; margin-bottom: 0; height: 100%; }

.feature-s3-alt { position: relative; padding: 0; padding-bottom: 25px !important; }

.feature-s3-alt .title-md { margin-bottom: 0.6rem; }

.feature-s3-alt:not(:last-child):before { position: absolute; content: ""; left: 30px; top: 20px; width: 1px; background: #866bfe; height: 100%; }

.feature-s4 .title { padding-top: 15px; }

.feature-s6 { margin-bottom: 0; }

.feature-s7 { margin-bottom: 50px; }

.feature-s8.card { height: calc(100% - 40px); }

.feature-s8-alt { padding-top: 50px; margin-top: 50px; }

.feature-s8-alt .feature-icon { position: absolute; left: 50%; top: 0; transform: translate(-50%, -50%); }

.feature-s8-alt.card { height: calc(100% - 90px); }

.feature-s10 { padding: 30px 30px 30px 25px; box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05); }

.feature-s10-left { margin-right: 20px; padding-bottom: 60px; }

.feature-s10-right { margin-left: 20px; margin-top: -35px; }

.feature-s10 .title-sm { margin-bottom: 1.2rem; }

.feature-s11 { flex-wrap: wrap; align-items: flex-start; margin-bottom: 0; }

.feature-s11 .list { margin-left: 20px; }

.feature-s12 { display: flex; flex-wrap: wrap; align-items: center; margin-bottom: 0; }

.feature-slider-dots { display: flex; justify-content: center; margin-bottom: 40px; }

.feature-slider-dot { position: relative; height: 46px; width: 46px; flex-grow: 0; flex-shrink: 0; border-radius: 4px; padding: 5px; text-align: center; background: #a992ea; cursor: pointer; color: #6a55ea; box-shadow: 0 5px 25px rgba(93, 70, 232, 0.15); transition: all .4s ease; margin: 0 8px; border: none; }

.tc-light .feature-slider-dot { background: #9e90f1; }

.feature-slider-dot:focus, .feature-slider-dot:active { outline: none; }

.feature-slider-dot.active { background: #6a55ea; }

.feature-slider-dot:after { position: absolute; top: 50%; left: 100%; height: 2px; content: ''; width: 100%; background: url(../images/line.png) repeat 0 0; z-index: -1; animation: slide 1s linear infinite; }

.feature-slider-dot:last-child:after { display: none; }

.feature-slider-dot:nth-child(2) { color: #2bc9b4; background: #def7f3; }

.tc-light .feature-slider-dot:nth-child(2) { background: #8de7db; }

.feature-slider-dot:nth-child(2).active { background: #2bc9b4; }

.feature-slider-dot:nth-child(3) { color: #49adf3; background: #dbeffd; }

.tc-light .feature-slider-dot:nth-child(3) { background: #9fd4f9; }

.feature-slider-dot:nth-child(3).active { background: #49adf3; }

.feature-slider-dot:nth-child(4) { color: #f2801c; background: #fce6d2; }

.tc-light .feature-slider-dot:nth-child(4) { background: #f9c395; }

.feature-slider-dot:nth-child(4).active { background: #f2801c; }

.feature-slider-dot:nth-child(5) { color: #ea64c6; background: #fbe0f4; }

.tc-light .feature-slider-dot:nth-child(5) { background: #f29edb; }

.feature-slider-dot:nth-child(5).active { background: #ea64c6; }

.feature-slider-dot .ikon { font-size: 28px; line-height: 35px; width: 35px; border-radius: 50%; background: #fff; display: block; }

.feature-slider-dot-s1 { border-radius: 50%; padding: 0; }

.feature-slider-dot-s1.active:before { position: absolute; content: ""; height: calc(100% + 16px); width: calc(100% + 16px); top: -8px; left: -8px; border-radius: 50%; border: 1px solid rgba(132, 132, 164, 0.35); animation: 1.5s linear 0s normal none infinite focuse; }

.feature-slider-dot-s1.active .ikon { background: transparent; color: #fff; }

.feature-slider-dot-s1 .ikon { line-height: 46px; width: 46px; }

.feature-document { padding: 0 27px; max-width: 280px; margin-left: auto; margin-right: auto; }

.feature-document-s2 { margin: 0 0 20px 20px; position: relative; border-radius: 6px; min-height: 140px; padding: 25px 20px 20px 95px; box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07); }

.tc-light .feature-document-s2 { background: #6e19c2; }

.feature-document-img { padding-right: 25px; position: relative; z-index: 1; }

.feature-document-img-s2 { position: absolute; top: 20px; left: -20px; width: 100px; }

.feature-document-img-s2 img { border-radius: 4px; }

.feature-document-img img { border: 2px solid #fff; box-shadow: 0px 0px 12px 0px rgba(134, 107, 254, 0.15); position: relative; z-index: 2; border-radius: 5px; }

.tc-light .feature-document-img img { border-width: 0; box-shadow: 0px 0px 12px 0px rgba(24, 7, 71, 0.25); }

.feature-document-img:before { position: absolute; right: 0; content: ''; top: 40px; width: 40px; height: calc(100% - 70px); z-index: 1; background: #fff; box-shadow: 0px 5px 20px 0px rgba(134, 107, 254, 0.07); z-index: -1; }

.tc-light .feature-document-img:before { background: rgba(134, 107, 254, 0.75); box-shadow: 0px 5px 20px 0px rgba(24, 7, 71, 0.15); }

.feature-document-text { justify-content: space-between; display: flex; padding-top: 18px; align-items: center; }

.feature-document-text-s2 { color: #415076; margin-bottom: 14px; font-weight: 600; }

.tc-light .feature-document-text-s2 { color: #fff; }

.feature-document-text .drop-wrap { padding-bottom: 5px; }

.feature-document-info span { display: block; line-height: 1; font-size: 13px; font-weight: 400; opacity: .5; }

.feature-document-link { display: block; margin-top: 6px; height: 40px; width: 40px; text-align: center; line-height: 40px; border-radius: 50%; color: #fff; background: #2bc9b4; }

.feature-document-link:hover, .feature-document-link:active, .feature-document-link:focus { background: #866bfe; color: #fff; }

.tc-light .feature-document-link:hover, .tc-light .feature-document-link:active, .tc-light .feature-document-link:focus { background: #866bfe; color: #fff; }

.feature-document-link-s2 li { display: inline-block; margin: 0 2px 5px; }

.feature-document-link-s2 li a { padding: 0 10px; display: inline-block; line-height: 21px; border: 2px solid #fff; border-radius: 4px; font-size: .86em; font-weight: 500; color: #866bfe; }

.tc-light .feature-document-link-s2 li a { color: #fff !important; border: 2px solid #fff; }

.feature-reverse { flex-direction: row-reverse; text-align: right; }

.feature-serial { font-size: 100px; font-weight: 700; line-height: normal; color: rgba(91, 83, 162, 0.2); }

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: local('Gotham'), url('https://fonts.cdnfonts.com/s/14898/GothamBook.woff') format('woff');
}
@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 400;
  src: local('Gotham'), url('https://fonts.cdnfonts.com/s/14898/GothamBookItalic.woff') format('woff');
}
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 300;
  src: local('Gotham'), url('https://fonts.cdnfonts.com/s/14898/GothamLight.woff') format('woff');
}
@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 300;
  src: local('Gotham'), url('https://fonts.cdnfonts.com/s/14898/GothamLightItalic.woff') format('woff');
}
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 500;
  src: local('Gotham'), url('https://fonts.cdnfonts.com/s/14898/GothamMedium.woff') format('woff');
}
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 500;
  src: local('Gotham'), url('https://fonts.cdnfonts.com/s/14898/GothamMedium_1.woff') format('woff');
}
@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 500;
  src: local('Gotham'), url('https://fonts.cdnfonts.com/s/14898/GothamMediumItalic.woff') format('woff');
}
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  src: local('Gotham'), url('https://fonts.cdnfonts.com/s/14898/GothamBold.woff') format('woff');
}
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  src: local('Gotham'), url('https://fonts.cdnfonts.com/s/14898/Gotham-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 700;
  src: local('Gotham'), url('https://fonts.cdnfonts.com/s/14898/GothamBoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Black';
  font-style: normal;
  font-weight: 500;
  src: local('Gotham Black'), url('https://fonts.cdnfonts.com/s/14898/Gotham-Black.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Light';
  font-style: normal;
  font-weight: 500;
  src: local('Gotham Light'), url('https://fonts.cdnfonts.com/s/14898/Gotham-Light.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Thin';
  font-style: normal;
  font-weight: 500;
  src: local('Gotham Thin'), url('https://fonts.cdnfonts.com/s/14898/Gotham-Thin.woff') format('woff');
}
@font-face {
  font-family: 'Gotham XLight';
  font-style: normal;
  font-weight: 500;
  src: local('Gotham XLight'), url('https://fonts.cdnfonts.com/s/14898/Gotham-XLight.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Book';
  font-style: italic;
  font-weight: 500;
  src: local('Gotham Book'), url('https://fonts.cdnfonts.com/s/14898/Gotham-BookItalic.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Thin';
  font-style: italic;
  font-weight: 500;
  src: local('Gotham Thin'), url('https://fonts.cdnfonts.com/s/14898/Gotham-ThinItalic.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Ultra';
  font-style: italic;
  font-weight: 500;
  src: local('Gotham Ultra'), url('https://fonts.cdnfonts.com/s/14898/Gotham-UltraItalic.woff') format('woff');
}
@font-face {
  font-family: 'Gotham XLight';
  font-style: italic;
  font-weight: 500;
  src: local('Gotham XLight'), url('https://fonts.cdnfonts.com/s/14898/Gotham-XLightItalic.woff') format('woff');
}


